<div class="small-header">
    <div class="hpanel">
        <div class="panel-body" style="width: 100%;" ng-class="{'header-embedded' : nav.embedded, 'no-sides' : !nav.embedded}">
            <div class="pull-left" tour-step order="1" title="People and Companies" content="To view people by role or industry, or sort companies by investment, visit the People and Company pages." placement="bottom">
                <ul ng-if="nav.community.type !== 'user' && nav.community.type !== 'company'" class="header-nav">
                    <li ui-sref="{{'community.dashboard' + nav.nav_url}}" ng-class="{ 'active' : nav.state.current.name == 'community.dashboard' }">
                        <a>OVERVIEW</a>
                    </li>
                    <li ui-sref="{{'user.list' + nav.nav_url}}" ng-class="{ 'active' : nav.state.current.name == 'user.list' }">
                        <a>PEOPLE</a>
                    </li>
                    <li ui-sref="{{'company.list' + nav.nav_url}}" ng-class="{ 'active' : nav.state.current.name == 'company.list' }">
                        <a>COMPANIES</a>
                    </li>
                    <li ui-sref="{{'networks.list' + nav.nav_url}}" ng-class="{ 'active' : nav.state.current.name == 'networks.list' }" ng-if="nav.community.type !== 'network'">
                        <a>NETWORKS</a>
                    </li>
                </ul>

                <ul ng-if="nav.community.type == 'user' || nav.community.type == 'company'" class="header-nav" style="margin-left:-40px;" >
                    <li ng-if="nav.location_path && (nav.location.key !== nav.community.key)">
                        <a ui-sref="community.dashboard({location_path: nav.location.key, community: nav.location})">
                            &nbsp;&nbsp;{{ nav.location.profile.name.toUpperCase() }}&nbsp;&nbsp;</a>/
                    </li>
                    <li ng-if="nav.community.type == 'user' || nav.community.type == 'company'" style="margin-left:-17px;">
                        <a style="color:#bbb;">&nbsp;&nbsp;{{ nav.community.profile.name.toUpperCase() }}</a>
                    </li>
                </ul>
            </div>


            <div class="pull-right">
                <div ng-if="!nav.user && (nav.state.current.name == 'company.list')">
                    <button class="btn btn-sm btn-success" ng-click="nav.requestInvitation()" style="font-size: 12px; color: #fff;">Add Company</button>
                </div>
                <div ng-if="nav.user && (nav.community.type == 'cluster' || (nav.community.type == 'network' && nav.user.roles.leader[nav.community.key]) || (nav.community.type == 'location' && nav.user.communities.indexOf(nav.location.key) > -1))" style="padding-top: 6px; margin-right: 8px; float: right;">
                    <button class="btn btn-sm btn-success" ng-click="nav.addCompany()" style="font-size: 12px; color: #fff;">Add Company</button>
                </div>

                <div ng-if="nav.user && (nav.community.type == 'cluster' || (nav.community.type == 'network' && nav.user.roles.leader[nav.community.key]) || (nav.community.type == 'location' && nav.user.communities.indexOf(nav.location.key) > -1))" style="padding-top: 6px; margin-right: 8px; float: right;">
                    <button class="btn btn-sm btn-info" ng-click="nav.invitePeople()" style="font-size: 12px; color: #fff;">Invite People</button>
                </div>
            </div>
        </div>
    </div>
</div>