<div id="error-container" ng-controller="ErrorPageController">
    <div class="row">
        <div class="error-options" style="margin-left: 30px; margin-top: 20px; float: left;">
            <p style="font-size: 1.5em;"><i class="fa fa-chevron-circle-left text-muted"></i> <a ng-click="goBack()">Go back</a></p>
        </div>
        <div class="error-options" style="margin-right: 30px; margin-top: 20px; float: right;">
            <p style="font-size: 1.5em;"><a href="/">Login</a> <i style="font-size: .9em;" class="fa fa-chevron-circle-right text-muted"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p style="font-size: 8em;"><i style="font-size: .9em;" class="fa fa-exclamation-triangle text-info animation-pulse"></i></p>
            <p style="font-size: 2em;">Sorry, we're having technical problems and are looking into it. Please give us a minute and try again.</p>
			</div>
        </div>
    </div>
</div>
