<div>
    <div small-header class="normalheader">
        <div class="hpanel">
            <div class="panel-body">
                <div class="stats-icon pull-right">
                    <i class="pe-7s-config fa-4x"></i>
                </div>
                <h2>Settings</h2>
                <small>Make changes to the resources, industries, and locations that you are a leader of.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="hpanel hblue col-xs-12 col-sm-6" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Resources</h3>
                    <small>Resources are coworking spaces, accelerators, investment funds, networking events, and other organizations that support entrepreneurship.</small>
                </div>
                <hr>
                <div ng-repeat="k in settings.resources">
                    <div style="padding-bottom:10px; font-size: 18px;">{{ k.profile.name }}
                        <button ng-click="nav.embedSettings(k.key)" class="btn btn-xs pull-right">Embed</button>
                        <button ui-sref="resource.edit({community_path: k.key})" class="btn btn-primary btn-xs pull-right" style="margin-right: 5px;">Edit</button>
                    </div>
                </div>
                <ul class="nav nav-second-level" style="margin-left: -15px;">
                    <li ng-if="global.user.communities.indexOf(global.user.profile.home) > -1">
                        <button class="btn btn-success" ui-sref="resource.add" style="margin: 10px 15px;">+&nbsp;&nbsp;Add Resource</button>
                    </li>
                </ul>
            </div>

            <a ng-if="global.user.communities.indexOf(global.user.profile.home) > -1 && global.user.newsletter" class="btn btn-info pull-right" ui-sref="newsletter" style="margin-top:15px; width: 100%;">Create / Edit Email Newsletters</a>

            <button ng-if="global.user.communities.indexOf(global.user.profile.home) > -1 && global.user.newsletter" ladda="nav.syncworking" class="ladda-button btn btn-warning pull-right" data-style="zoom-in" data-spinner-size="25" ng-click="nav.syncNewsletter()" style="margin-top:15px; width: 100%;" title="This will synchronize your resource networks with your newsletter lists. This is only needed if names are missing from your lists.">Sync Newsletter Lists</button>

            <button ng-if="global.user.communities.indexOf(global.user.profile.home) > -1" class="btn btn-danger pull-right" ng-click="nav.setupNewsletter()" style="margin-top:15px; width: 100%;">Setup Email Newsletter</button>

        </div>


        <div class="hpanel hnavyblue col-xs-12 col-sm-6" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Industries</h3>
                    <small>An industry cluster is an entrepreneurial ecosystem in support of a market vertical.</small>
                </div>
                <hr>
                <div ng-repeat="(k, v) in global.user.roles.leader">
                    <div ng-if="v == global.location.key && settings.clusters[k]" style="padding-bottom:10px; font-size: 18px;">{{ settings.clusters[k].community_profiles[global.location.key].name }}
                        <button ng-click="nav.embedSettings(k);" class="btn btn-xs pull-right">Embed</button>
                        <button ng-click="nav.editCommunity(k);" class="btn btn-primary btn-xs pull-right" style="margin-right: 5px;">Edit</button>
                    </div>
                </div>
                <ul class="nav nav-second-level" style="margin-left: -15px;">
                    <li ng-if="global.user.communities.indexOf(global.location.key) > -1">
                        <button class="btn btn-success" ng-click="nav.editCommunity({type:'cluster'});" style="margin: 10px 15px;">+&nbsp;&nbsp;Add Industry</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hpanel hgreen col-xs-12 col-sm-6" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Locations</h3>
                    <small>Locations are cities, counties, regions, or states.</small>
                </div>
                <hr>
                <div ng-if="global.user.communities.indexOf(global.location.key) > -1" style="padding-bottom:10px; font-size: 18px;">{{ global.location.profile.name }}
                    <button ng-click="nav.embedSettings(global.location.key);" class="btn btn-xs pull-right">Embed</button>
                </div>
            </div>
        </div>
    </div>
</div>