<div>
    <div small-header class="normalheader">
        <div class="hpanel">
            <div class="panel-body">
                <div class="stats-icon pull-right">
                    <i class="pe-7s-config fa-4x"></i>
                </div>
                <h2>Settings</h2>
                <small>Make changes to the networks, clusters, and locations that you are a leader of.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="hpanel hblue col-xs-4" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Networks</h3>
                </div>
                <hr>
                <div ng-repeat="(k, v) in nav.user.roles.leader">
                    <div ng-if="nav.communities[k].type == 'network'" style="padding-bottom:10px; font-size: 18px;">{{ nav.communities[k].profile.name }}
                        <button ng-click="nav.communitySettings(nav.communities[k]);" class="btn btn-xs pull-right">Edit</button>
                    </div>
                </div>
                <ul class="nav nav-second-level" style="margin-left: -15px;">
                    <li ng-if="nav.user.communities.indexOf(nav.location.key) > -1">
                        <a ng-click="nav.addNetwork();" style="color: #aaa;">+&nbsp;&nbsp;Add Network</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="hpanel hnavyblue col-xs-4" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Clusters</h3>
                </div>
                <hr>
                <div ng-repeat="(k, v) in nav.user.roles.leader">
                    <div ng-if="nav.communities[k].type == 'cluster'" style="padding-bottom:10px; font-size: 18px;">{{ nav.communities[k].profile.name }}
                        <button ng-click="nav.communitySettings(nav.communities[k]);" class="btn btn-xs pull-right">Edit</button>
                    </div>
                </div>
                <ul class="nav nav-second-level" style="margin-left: -15px;">
                    <li ng-if="nav.user.communities.indexOf(nav.location.key) > -1">
                        <a ng-click="nav.addCluster();" style="color: #aaa;">+&nbsp;&nbsp;Add Cluster</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hpanel hgreen col-xs-4" >
            <div class="panel-body">
                <div class="stats-title">
                    <h3>Locations</h3>
                </div>
                <hr>
                <div style="padding-bottom:10px; font-size: 18px;">{{ nav.communities[nav.user.profile.home].profile.name }}
                    <button ng-click="nav.communitySettings(nav.communities[nav.user.profile.home]);" class="btn btn-xs pull-right">Edit</button>
                </div>
                <div ng-repeat="(k, v) in nav.user.roles.leader">
                    <div ng-if="nav.communities[k].type == 'location' && k !== nav.user.profile.home" style="padding-bottom:10px; font-size: 18px;">{{ nav.communities[k].profile.name }}
                        <button ng-click="nav.communitySettings(nav.communities[k]);" class="btn btn-xs pull-right">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>