<div class="row">
    <div class="col-xs-12 col-sm-6" ng-repeat="parent in networks.network_parents track by $index">
        <div class="hpanel" ng-class="::parent.color">
            <div class="panel-body" style="padding: 10px 5px;">
                <div class="col-xs-8">
                    <div class="stats-title pull-left">
                        <h3>{{::parent.title}}</h3>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="stats-icon pull-right">
                        <i class="fa-4x" ng-class="::parent.icon"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="background: #fff;">
                <div ng-repeat="item in networks.networks[parent.id] track by $index">
                    {{item.profile.name}}
                </div>
            </div>
        </div>
    </div>
</div>