<div ng-class="{'header-embedded' : nav.embedded}">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                <span>{{ $state.params.pageTitle }}</span>
                <i class="pull-right" ng-class="{'fa fa-circle-o-notch fa-spin' : add.working, 'pe-7s-id' : !add.working}" style="font-size: 50px;"></i>
            </h2>
            <small>{{ $state.params.pageDescription }}</small>
        </div>
    </div>
</div>

<div class="hpanel hgreen">
    <div class="panel-heading hbuilt">
        * This process currently <b>does not</b> notify the founders in any way, it simply adds them to the community.
    </div>
        <div class="panel-body">
            <div ng-show="add.alert" class="alert" ng-class="{'alert-success' : add.alert.type == 'success', 'alert-danger' : add.alert.type == 'danger'}">
                &nbsp;{{ add.alert.message }}
            </div>
            <div style="padding: 20px 20px 60px 20px;">
                <form role="form" name="add.form" novalidate ng-submit="add.addStartup(nav.location_path, nav.community.key)">
                    <div class="form-group">
                        <label>AngelList URL:</label>
                        <input type="text" placeholder="https://angel.co/startupcommunity" class="form-control input-lg" name="url" required ng-model="add.form.url_value">
                        <div class="m-t-xs" ng-show="add.form.url.$invalid && add.form.submitted">
                            <span class="text-danger" ng-show="add.form.url.$error">&nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i> We can't import their profile without an AngelList URL..</span>
                        </div>
                    </div>
                    <input type="submit" style="float:left" class="finish btn-success btn" ng-class="{'disabled' : disabled}" value="Add Startup" />
                </form>
            </div>
    </div>
    <div class="panel-footer">
        To import a full spreadsheet, please <a href="mailto:james@startupcommunity.org">click here to let us know</a>.
    </div>
</div>