
<div class="hpanel">
    <div class="panel-heading" style="text-align:center;">
        Grouped Lists!
    </div>
    <div class="panel-body no-padding">
        <div class="list-group ">

            <a class="list-group-item active" href="">
                <h5 class="list-group-item-heading">Founder</h5>

                <p class="list-group-item-text">You have started or co-founded a business venture.</p>
            </a>
            <a class="list-group-item" href="">
                <h5 class="list-group-item-heading">Investor</h5>

                <p class="list-group-item-text">You are an active investor in startup companies.</p>
            </a>
            <a class="list-group-item" href="">
                <div class="stats-icon pull-right"> <i class="pe-7s-science fa-4x"></i> </div>
                <h5 class="list-group-item-heading">Mentor</h5>

                <p class="list-group-item-text">You are willing to provide guidance to entrepreneurs without compensation - the 'give before you get' philosophy.</p>
            </a>
            <a class="list-group-item" href="">
                <h5 class="list-group-item-heading">Service Provider</h5>

                <p class="list-group-item-text">You provide services to members of the community for a fee.</p>
            </a>
        </div>
    </div>
</div>
