<div>
    <div class="row">
        <div ng-class="{'col-lg-10 col-md-9 col-sm-8' : !$state.includes('search.*')}" style="padding-left: 15px; padding-right: 15px;">

            <div class="hpanel">
                <div class="panel-footer top">
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="companies.offset > 16"><a ng-click="companies.searchCompanies(undefined, companies.offset-(companies.limit*2))" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="companies.count > companies.offset"><a ng-click="companies.searchCompanies(undefined, companies.offset)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                    <span style="font-size: 17px;" ng-bind-html="companies.title"></span>
                    <span loading-bars ng-if="companies.loadingCompany"></span>
                </div>

                <div class="panel-body content" style="padding-top: 0;">
                    <div class="row">
                        <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                    </div>
                    <div ng-show="companies.tag" style="text-align: center" ng-cloak>
                        <h2><br/>Searching for {{companies.tag}}..</h2><br/><br/>
                    </div>
                    <div ng-show="companies.companies.length == 0" style="text-align: center" ng-cloak>
                        <h2><br/>Nothing here!</h2><br/><br/>
                    </div>
                    <div ng-repeat="item in companies.companies" ng-switch on="$index % 2">
                        <div class="col-md-6" ng-switch-when="0">
                            <div class="row">
                                <!-- ng-include="'company.list.item.html'" -->
                                <div class="col-md-12 dash-table">
                                    <div>
                                        <a ui-sref="company.dashboard({ location_path: item.id, community_path: '', tail_path: '', noreload: true, profile: item, query: null })" ng-click="global.loaders[item.name] = true" title="View {{::item.name | words:0}}'s Profile"><img
                ng-src="{{item.avatar || '/public/images/browser_icon.jpg'}}" alt="{{::item.name}}" class="user-img widget-image pull-left" onerror="this.src='images/browser_icon.jpg'"/></a>
                                    </div>
                                    <div class="user-row list-hr">
                                        <a ui-sref="company.dashboard({ location_path: item.id, community_path: '', tail_path: '', noreload: true, profile: item, query: null })" title="View {{::item.name | words:0}}'s Profile" ng-click="global.loaders[item.name] = true" class="dash-row-div"><strong>{{::item.name}} </strong></a>
                                        <div class="dash-row-summary" ng-show="(item.summary).length > 0" style="margin-left: -5px;">
                                            <a title="Show Summary" ng-click="showSummary = !showSummary" class="user-summary">&nbsp;&nbsp;<i style="font-size: 8px;" class="fa fa-chevron-down"></i></a>
                                        </div>
                                        <span loading-bars ng-if="global.loaders[item.name]"></span>
                                        <span ng-if="!item.resource && item.parents[0]">
            <li class="role-right">
                <button style="cursor: default;" class="btn btn-xs btn-outline btn-default">{{item.parents[0][0].toUpperCase() + item.parents[0].slice(1);}}</button>
            </li>
        </span>
                                        <span ng-if="item.resource && item.resource_types[0]">
            <li class="role-right">
                <button style="cursor: default;" class="btn btn-xs btn-outline btn-default">{{item.resource_types[0][0].toUpperCase() + item.resource_types[0].slice(1);}}</button>
            </li>
        </span>
                                        <br>
                                        <div class="dash-row">
                                            <span class="text-muted" ng-bind-html="::item.headline | highlight:companies.lastQuery" title="{{::item.headline}}"></span>
                                        </div>
                                        <div ng-show="(showSummary || $state.includes('search.*')) && item.summary">
                                            <div style="padding-bottom: 10px;">
                                                <hr>
                                                <span class="text-muted" style="white-space:pre-wrap;" ng-bind-html="::item.summary | linky:'_blank' | highlight:companies.lastQuery | safe_html"></span>
                                                <div id="skills" ng-if="(showSummary || companies.lastQuery) && item.summary" class="skills-top">
                                                    <li ng-if="item.industries" ng-repeat="market in item.industries" class="label btn-default skills">
                                                        <a><span ng-click="nav.search(market)" ng-bind-html="::market | highlight:companies.lastQuery"></span></a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-switch-when="1">
                            <div class="row">
                                <!--  ng-include="'company.list.item.html'" -->
                                <div class="col-md-12 dash-table">
                                    <div>
                                        <a ui-sref="company.dashboard({ location_path: item.id, community_path: '', tail_path: '', noreload: true, profile: item, query: null })" ng-click="global.loaders[item.name] = true" title="View {{::item.name | words:0}}'s Profile"><img
                ng-src="{{item.avatar || '/public/images/browser_icon.jpg'}}" alt="{{::item.name}}" class="user-img widget-image pull-left" onerror="this.src='images/browser_icon.jpg'"/></a>
                                    </div>
                                    <div class="user-row list-hr">
                                        <a ui-sref="company.dashboard({ location_path: item.id, community_path: '', tail_path: '', noreload: true, profile: item, query: null })" title="View {{::item.name | words:0}}'s Profile" ng-click="global.loaders[item.name] = true" class="dash-row-div"><strong>{{::item.name}} </strong></a>
                                        <div class="dash-row-summary" ng-show="(item.summary).length > 0" style="margin-left: -5px;">
                                            <a title="Show Summary" ng-click="showSummary = !showSummary" class="user-summary">&nbsp;&nbsp;<i style="font-size: 8px;" class="fa fa-chevron-down"></i></a>
                                        </div>
                                        <span loading-bars ng-if="global.loaders[item.name]"></span>
                                        <span ng-if="!item.resource && item.parents[0]">
            <li class="role-right">
                <button style="cursor: default;" class="btn btn-xs btn-outline btn-default">{{item.parents[0][0].toUpperCase() + item.parents[0].slice(1);}}</button>
            </li>
        </span>
                                        <span ng-if="item.resource && item.resource_types[0]">
            <li class="role-right">
                <button style="cursor: default;" class="btn btn-xs btn-outline btn-default">{{item.resource_types[0][0].toUpperCase() + item.resource_types[0].slice(1);}}</button>
            </li>
        </span>
                                        <br>
                                        <div class="dash-row">
                                            <span class="text-muted" ng-bind-html="::item.headline | highlight:companies.lastQuery" title="{{::item.headline}}"></span>
                                        </div>
                                        <div ng-show="(showSummary || $state.includes('search.*')) && item.summary">
                                            <div style="padding-bottom: 10px;">
                                                <hr>
                                                <span class="text-muted" style="white-space:pre-wrap;" ng-bind-html="::item.summary | linky:'_blank' | highlight:companies.lastQuery | safe_html"></span>
                                                <div id="skills" ng-if="(showSummary || companies.lastQuery) && item.summary" class="skills-top">
                                                    <li ng-if="item.industries" ng-repeat="market in item.industries" class="label btn-default skills">
                                                        <a><span ng-click="nav.search(market)" ng-bind-html="::market | highlight:companies.lastQuery"></span></a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="height:45px;">
                    <div class="pull-left" ng-if="global.user">
                        <button ng-if="companies.resource_page" ladda="global.loaders['addres']" class="ladda-btn btn btn-xs btn-outline btn-success" ng-click="global.loaders['addres'] = true" ui-sref="resource.add">+ Add Resource</button>
                        <button ng-if="!companies.resource_page" ladda="global.loaders['addco']" class="ladda-btn btn btn-xs btn-outline btn-primary" ng-click="global.loaders['addco'] = true;" ui-sref="company.add">+ Add Company</button>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="companies.offset > 16"><a ng-click="companies.searchCompanies(undefined, companies.offset-(companies.limit*2))" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="companies.count > companies.offset"><a ng-click="companies.searchCompanies(undefined, companies.offset)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!$state.includes('search.*')" class="col-lg-2 col-md-3 col-sm-4">
            <!-- Resource Filters -->
            <div ng-if="companies.resource_page" class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Resource</strong> Filters
                    <div loading-bars ng-show="companies.loadingType" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':companies.selectedType.indexOf('*') >= 0}" ng-click="companies.filterType('*')">
                            <a>
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-repeat="t in companies.resource_types" ng-class="{'active':companies.selectedType.indexOf(t) >= 0}" ng-click="companies.filterType(t)">
                            <a>
                                {{t}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Industry Filters -->
            <div class="hpanel hnavyblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Industry</strong> Filters
                    <div loading-bars ng-show="companies.loadingCluster" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-if="global.community.type !== 'cluster'" ng-init="companies.allClusters=true" ng-class="{'active':companies.allClusters}" ng-click="companies.loadingCluster=true; companies.allClusters=true; companies.filterClusters();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <li ng-if="global.community.type == 'cluster'" class="active">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> {{global.community.name}}</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-if="global.community.type !== 'cluster'" ng-repeat="cluster in global.top.parents" ng-class="{'active':companies.selectedClusters.indexOf(cluster.label) >= 0}" ng-click="companies.loadingCluster=true;  companies.allClusters=false; companies.filterClusters(cluster.label);">
                            <a>{{cluster.label[0].toUpperCase() + cluster.label.slice(1)}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Stage Filters -->
            <div ng-if="!companies.resource_page" class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Stage</strong> Filters
                    <div loading-bars ng-show="companies.loadingStage" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':companies.selectedStage.indexOf('*') >= 0}" ng-click="companies.filterStage('*')">
                            <a>
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Bootstrap') >= 0}" ng-click="companies.filterStage('Bootstrap')">
                            <a>
                                Bootstrap
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Seed') >= 0}" ng-click="companies.filterStage('Seed')">
                            <a>
                                Seed / Angel
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Series A') >= 0}" ng-click="companies.filterStage('Series A')">
                            <a>
                                Series A
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Series B') >= 0}" ng-click="companies.filterStage('Series B')">
                            <a>
                                Series B
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Later') >= 0}" ng-click="companies.filterStage('Later')">
                            <a>
                                Later Stage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




    </div>
</div>
