<div id="navigation">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Username</span>

            <div class="dropdown" dropdown >
                <a dropdown-toggle class="dropdown-toggle" href="#">
                    <small class="text-muted">Founder of App <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a>Item</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
    </ul>
</div>