<td class="text-center" style="width: 58px; vertical-align: top; height: 80px;">
  <div ng-show="item.value.linkedin.pictureUrl">
    <a ng-click="viewUser(item)" title="View {{::item.value.name | words:0}}'s Profile"><img style="height:58px" ng-src="{{item.value.linkedin.pictureUrl || item.value.avatar}}" alt="{{::item.value.name}}" class="widget-image img-circle pull-left"/></a>
  </div>
  <div ng-show="!item.value.linkedin.pictureUrl">
    <a ng-click="viewUser(item)" title="View {{::item.value.name | words:0}}'s Profile"><img style="height:58px" ng-src="{{'/public/blank_avatar.png'}}" alt="{{::item.value.name}}" class="widget-image img-circle pull-left"/></a>
  </div>

</td>   
<td style="vertical-align: middle; height: 80px;">
    <a ng-click="viewUser(item)" title="View {{::item.value.name | words:0}}'s Profile"><strong>{{::item.value.name}} </strong></a>
    <br>
    <span class="text-muted" ng-bind-html="::item.value.linkedin.headline | highlight:global.search.lastQuery"></span>
</td>
<td style="vertical-align: middle; height: 80px;">
    <li ng-repeat="(cluster, val) in item.value.cities[global.city.path.key].clusters" style="list-style: none; display: inline; float: right; padding-left: 5px;">
       <span ng-hide="((val.roles.indexOf('Advisor') >= 0) && (val.roles.indexOf('Founder') < 0) && (val.roles.indexOf('Investor') < 0)) && item.value.cities[global.city.path.key].cityAdvisor === true" title="{{cluster}} Cluster" class="btn btn-xs btn-alt btn-default" ng-class="{ 'btn-info' : ((val.roles.indexOf('Advisor') >= 0) && (val.roles.indexOf('Founder') < 0) && (item.value.cities[global.city.path.key].cityAdvisor === false || item.value.cities[global.city.path.key].cityAdvisor === undefined)), 'btn-danger' : (val.roles.indexOf('Founder') >= 0) }" style="cursor: default;"><i class="fa {{global.city.value.clusters[cluster].icon}}"></i></span>
    </li>
    <li ng-if="item.value.cities[global.city.path.key].cityAdvisor === true" style="list-style: none; display: inline; float: right; padding-left: 5px;">
       <span title="General Advisor" class="btn btn-xs btn-alt btn-info" style="cursor: default;">General Advisor</span>
    </li>
    <div id="skills" ng-show="(showSummary || global.search.count) && item.value.linkedin.summary" style="padding-top:40px">
        <li ng-repeat="skill in item.value.linkedin.skills.values" class="label btn-default" style="margin-right: 3px; margin-top: 3px; float:right; padding-bottom: 5px;">
            <a><span ng-click="search(skill.skill.name)" ng-bind-html="::skill.skill.name | highlight:global.search.lastQuery"></span></a>
        </li>			
    </div>
</td>