<div>
    <div id="dash-tour" tour-step order="0" title="The {{global.community.profile.name.split(',')[0] }} Startup Community" content="Your community includes people and companies, organized by industry and skillset." placement="top">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel hblue" >
                    <div class="panel-body" style="padding: 10px 5px; margin-bottom: -12px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="user.list">
                                    <h3>People</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="user.list">
                                    <h3 class="text-info">{{global.top.people.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff; text-align: center; padding-bottom:9px;">
                        <div ng-repeat="item in global.top.people.entries" style="text-align: left;">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div class="row" ng-include="'components/users/user.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-12px;"></div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-default" style="margin-top: 20px;" ui-sref="user.list">view all</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel" style="border-top: 2px solid #34495E;">
                    <div class="panel-body" style="padding: 10px 5px; margin-bottom: -12px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="company.list">
                                    <h3>Companies</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="company.list">
                                    <h3 style="color:#34495E;">{{global.top.companies.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff; text-align: center; padding-bottom:9px;">
                        <div ng-repeat="item in global.top.companies.entries" style="text-align: left;">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div class="row" ng-include="'components/companies/company.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-12px;"></div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-default" style="margin-top: 20px;" ui-sref="company.list">view all</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel" style="border-top: 2px solid #ffb606;">
                    <div class="panel-body" style="padding: 10px 5px; margin-bottom: -12px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="resource.list">
                                    <h3>Resources</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="resource.list">
                                    <h3 style="color:#34495E;">{{global.top.resources.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff; text-align: center; padding-bottom:9px;">
                        <div ng-repeat="item in global.top.resources.entries" style="text-align: left;">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div class="row" ng-include="'components/companies/company.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-12px;"></div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-default" style="margin-top: 20px;" ui-sref="resource.list">view all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #3498db">
                        <h3>Top Skills</h3>
                        <small class="small-column-title"># People</small>
                    </div>

                    <div class="panel-body" ng-repeat="item in global.top.skills.entries">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4>
                                    <uib-progressbar ng-attr-value="(item.count/global.top.skills.entries[0].count)*100" type="info" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                                </a>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})">
                                    <span class="number number-column">{{item.count}}</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                        <h3>Top Markets</h3>
                        <small class="small-column-title"># Companies</small>
                    </div>

                    <div class="panel-body" ng-repeat="item in global.top.industries.entries">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4>
                                    <uib-progressbar ng-attr-value="(item.count/global.top.industries.entries[0].count)*100" type="default" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                                </a>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})">
                                    <span class="number number-column">{{item.count}}</span>
                                <a/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                        <h3>Top Industries</h3>
                    </div>

                    <div class="panel-body" ng-repeat="item in global.top.parents | limitTo: 5">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="community.dashboard({community_path: item.label, location_path: global.location.key})"><h4 style="font-weight: 200;">{{item.label[0].toUpperCase() + item.label.slice(1);}}</h4>
                                    <uib-progressbar value="item.value" max="global.top.max" type="success" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                                </a>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <a ui-sref="community.dashboard({community_path: item.label, location_path: global.location.key})">
                                    <span class="number number-column">{{((item.value / global.top.max)*100).toFixed(0)}}%</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
