<!--
<div small-header class="normalheader" style="padding: 0 0 25px 0;">
    <div class="row" style="margin-top:-10px;">
        <div class="col-md-6" style="padding-top:10px;">
            <div class="hpanel">
                <div class="panel-body" style="height: 85px;">
                    <div class="pull-left" style="padding-left:0;">
                        <a ui-sref="community.dashboard({community_path: nav.community.key, community: nav.community})" style="white-space:nowrap;">
                            <h2 ng-if="nav.community.community_profiles[nav.location_path]" class="font-light m-b-xs">{{ nav.community.community_profiles[nav.location_path].name }}</h2>
                            <h2 ng-if="!nav.community.community_profiles[nav.location_path]" class="font-light m-b-xs">{{ nav.community.profile.name }}</h2>
                        </a>
                        <div style="float:left;">
                            <small>
                                {{nav.state.current.params.pageTitle}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding-top:10px;">
            <div class="hpanel">
                <div class="panel-body" style="padding: 10px 5px; height: 85px;">
                    <div class="col-xs-8">
                        <div class="pull-left">
                            <h2 class="font-light m-b-xs">Leaders</h2>
                            <div ng-repeat="lead in dashboard.top.leaders | limitTo: 3" style="white-space: nowrap;" ng-class="{'pull-left': $first}">
                                <a class="text-info" ui-sref="user.dashboard({profile: lead.value, location_path: lead.path.key, community: {}})">
                                    <small>
                                        <span ng-if="$last && $index !== 0">
                                            &nbsp;and
                                        </span>
                                        &nbsp;{{lead.value.profile.name}}
                                        <span ng-if="!$last && dashboard.top.leaders.length > 2">
                                            ,
                                        </span>
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-flag fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div>
    <div id="dash-tour" tour-step order="0" title="The {{nav.community.profile.name.split(',')[0] }} Startup Community" content="Your community includes people and companies, organized by industry and skillset." placement="top">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel hblue" >
                    <div class="panel-body" style="padding: 10px 5px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="{{'user.list' + nav.nav_url}}">
                                    <h3>People</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="{{'user.list' + nav.nav_url}}">
                                    <h3 class="text-info">{{dashboard.top.people.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff;">
                        <div ng-repeat="item in dashboard.top.people.entries | limitTo: 5">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div ng-if="$first" style="margin-top:-3px;"></div>
                                <div class="row" ng-include="'components/users/user.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel" style="border-top: 2px solid #34495E;">
                    <div class="panel-body" style="padding: 10px 5px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="{{'company.list' + nav.nav_url}}">
                                    <h3>Companies</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="{{'company.list' + nav.nav_url}}">
                                    <h3 style="color:#34495E;">{{dashboard.top.companies.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff;">
                        <div ng-repeat="item in dashboard.top.companies.entries | limitTo: 5">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div ng-if="$first" style="margin-top:-3px;"></div>
                                <div class="row" ng-include="'components/companies/company.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="hpanel" style="border-top: 2px solid #ffb606;">
                    <div class="panel-body" style="padding: 10px 5px;">
                        <div class="col-xs-8">
                            <div class="stats-title pull-left">
                                <a ui-sref="{{'resource.list' + nav.nav_url}}">
                                    <h3>Resources</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="stats-icon pull-right">
                                <a ui-sref="{{'resource.list' + nav.nav_url}}">
                                    <h3 style="color:#34495E;">{{dashboard.top.resources.count}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #fff;">
                        <div ng-repeat="item in dashboard.top.resources.entries | limitTo: 5">
                            <div style="margin-right: -2px; margin-bottom:-5px;">
                                <div ng-if="$first" style="margin-top:-3px;"></div>
                                <div class="row" ng-include="'components/companies/company.list.item.html'"></div>
                                <div ng-if="$last" style="margin-bottom:-25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #3498db">
                        <h3>Top Skills</h3>
                        <small class="small-column-title"># People</small>
                    </div>

                    <div class="panel-body" ng-repeat="item in dashboard.top.skills.entries | limitTo: 5">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4></a>
                                <uib-progressbar ng-attr-value="(item.count/dashboard.top.skills.entries[0].count)*100" type="info" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <span class="number number-column">{{item.count}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                        <h3>Top Markets</h3>
                        <small class="small-column-title"># Companies</small>
                    </div>

                    <div class="panel-body" ng-repeat="item in dashboard.top.industries.entries | limitTo: 5">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="search.dashboard({location_path: dashboard.location_path, community_path: dashboard.community_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4></a>
                                <uib-progressbar ng-attr-value="(item.count/dashboard.top.industries.entries[0].count)*100" type="default" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <span class="number number-column">{{item.count}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="hpanel forum-box" style="overflow: hidden;">

                    <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                        <h3>Top Industries</h3>
                    </div>

                    <div class="panel-body" ng-repeat="item in dashboard.top.parents | limitTo: 5">
                        <div class="row">
                            <div class="col-xs-10 forum-heading">
                                <a ui-sref="community.dashboard({community_path: item.label, community: nav.communities[item.label], query: '*', location_path: nav.location.key})"><h4 style="font-weight: 200;">{{item.label[0].toUpperCase() + item.label.slice(1);}}</h4></a>
                                <uib-progressbar value="item.value" max="dashboard.max" type="success" class="progress-small full" style="margin-top: 7px;"></uib-progressbar>
                            </div>
                            <div class="col-xs-2 forum-info">
                                <span class="number number-column">{{((item.value / dashboard.max)*100).toFixed(0)}}%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
