<tr>
  <td class="text-center" style="width: 68px; vertical-align: top; height: 80px;">
    <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><img style="height:58px" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/954-13fdc4ab72232e61a8f2360ff3593c81-thumb_jpg.jpg" alt="{{::item.profile.name}}" class="widget-image img-rounded pull-left"></a>
</td>   
<td style="vertical-align: center;  height: 80px;">
    <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><strong>Wanderfly </strong></a>
    <a ng-show="{{(item.profile.linkedin.summary).length > 0}}" title="Show Summary" ng-click="showSummary = !showSummary" style="color: #DDDDDD;">
        <i class="fa fa-chevron-down fa-fw"></i>
    </a>
    <br>
    <span class="text-muted">Visual travel discovery</span>

</td>
<td style="vertical-align: top; padding-top: 25px; height: 80px;">
    <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
      <span class="btn btn-xs btn-alt btn-default"><i class="fa fa-code"></i>
      </span>
    </li>
  <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-success">$500k</span>
  </li>
  <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-default">7 People</span>
  </li>
</td>
</tr>

<tr>
  <td class="text-center" style="width: 68px; vertical-align: top; height: 80px;">
    <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><img style="height:58px" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/120454-e8aacd8ef4a5b9a83636ef3bc17e1579-thumb_jpg.jpg" alt="{{::item.profile.name}}" class="widget-image img-rounded pull-left"></a>
  </td>
  <td style="vertical-align: center;  height: 80px;">
    <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><strong>Flatiron Health </strong></a>
    <a ng-show="{{(item.profile.linkedin.summary).length > 0}}" title="Show Summary" ng-click="showSummary = !showSummary" style="color: #DDDDDD;">
      <i class="fa fa-chevron-down fa-fw"></i>
    </a>
    <br>
    <span class="text-muted">Cloud-based IT insights for Healthcare.</span>

  </td>
  <td style="vertical-align: top; padding-top: 25px; height: 80px;">
    <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-default"><i class="fa fa-flask"></i>
      </span>
    </li>
    <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
      <span class="btn btn-xs btn-alt btn-success">$30k</span>
    </li>
    <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
      <span class="btn btn-xs btn-alt btn-default">1 Person</span>
    </li>
  </td>
</tr>

<tr>
<td class="text-center" style="width: 68px; vertical-align: top; height: 80px;">
  <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><img style="height:58px" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/24260-292a2c5b11a309d2d890caea1246d31d-thumb_jpg.jpg" alt="{{::item.profile.name}}" class="widget-image img-rounded pull-left"></a>
</td>
<td style="vertical-align: center;  height: 80px;">
  <a ng-click="viewUser(item)" title="View {{::item.profile.name | words:0}}'s Profile"><strong>Lovely </strong></a>
  <a ng-show="{{(item.profile.linkedin.summary).length > 0}}" title="Show Summary" ng-click="showSummary = !showSummary" style="color: #DDDDDD;">
    <i class="fa fa-chevron-down fa-fw"></i>
  </a>
  <br>
  <span class="text-muted">Building a marketplace for rentals</span>

</td>
<td style="vertical-align: top; padding-top: 25px; height: 80px;">
  <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-default"><i class="fa fa-code"></i>
      </span>
  </li>
  <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-success">$200k</span>
  </li>
  <li style="list-style: none; display: inline; float: right; padding-left: 5px;">
    <span class="btn btn-xs btn-alt btn-default">3 People</span>
    </li>

</td>
</tr>
