<div class="back-cover">
    <div class="bright-line"></div>

    <div class="welcome-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md" style="margin-left: -15px;">
                    <a href="/"><img style="width:75%" src="/public/images/sc_logo.png" alt="StartupCommunity.org Logo"/></a>
                </div>
                <div class="hpanel">
                    <div class="panel-body" style="padding: 20px; border-top: 1px solid #82bc4b;">
                        <div ng-if="!welcome.auth">
                            <h4 class="text-center" style="margin-bottom: 20px; color: #5A5A5A; font-size: 25px; line-height: 1.25;">Welcome!<br><hr>
                            You have been invited to join the {{welcome.location}} Startup Community</h4>
                            <h4 class="text-center" style="margin-bottom: 13px;">
                                <button class="btn btn-info" ng-click="welcome.authenticate()" ng-class="{'disabled' : welcome.working}">Log in using Linkedin</button>
                                <span loading-bars ng-show="welcome.working"></span>
                            </h4>

                            <hr>
                            <h5 style="text-align: center;" >Please log in to get started.</h5>
                            <br>
                            <div alert-box this-alert="welcome.alert"></div>
                        </div>
                        <div ng-if="welcome.auth" ui-view></div>
                    </div>
                </div>
            </div>
        </div>
        <li style="list-style: none;" class="text-center"><span id="quote" random-quote></span><a ng-click="welcome.clickToTweet()"><img id="tweet-this" src="/public/images/twitter-16.png" style="margin-left: 5px; margin-top: -4px; height: 13px; width: 13px;"/></a></li>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                &copy; 2015 StartupCommunity.org<br><br>
                <a target="_blank" href="mailto:james@startupcommunity.org?subject=I'm having an issue with my invitation..">Having trouble?</a>
            </div>
        </div>
    </div>
</div>