<div class="hpanel">
    <div class="panel-heading" style="text-align:center;">
        <h4 style="font-size: 25px; line-height: 1.25;">Now add any companies <b>in {{::welcome.location}}</b> that you currently work with:</h4>
    </div>
    <div ng-show="welcome.selectedCompany" style="text-align:center;">
        <a href="{{welcome.selectedCompany.angellist_url}}" target="_blank" title="{{welcome.selectedCompany.name}}'s AngelList Profile">
            <img style="height:75px;"
             ngf-thumbnail="welcome.selectedCompany.thumb_url || file || 'images/blank_startup.png'">
        </a>
        <br/>
        <label id="uploader_text">
            <input type="file" ng-model="logo_thumbnail" name="file" ngf-pattern="'image/*'"
                   accept="image/*" ngf-max-size="2MB" ngf-min-height="50"
                   ngf-resize="{width: 75, height: 75}" ngf-select="welcome.uploadLogo($file)" style="display:none;"/>
            <h6>Change thumbnail..</h6>
        </label>
    </div>
    <div style="padding: 20px;">
        <form role="form" name="welcome.founder.form" novalidate ng-submit="welcome.addCompany()" style="padding-bottom: 30px;">
            <div class="form-group">
                <input type="text" ng-model="welcome.company" placeholder="Type a company name.." typeahead="company.name for company in welcome.getCompanies($viewValue)" typeahead-editable="false" typeahead-on-select="welcome.selectedCompany = $item;" class="form-control input-lg">
                <a style="padding-top: 3px; color: #777;" class="pull-right" ng-click="welcome.notListed()">not listed?</a>
            </div>
            <input type="submit" style="float:left" class="finish btn-success btn" ng-class="{'disabled' : disabled || welcome.working || !welcome.selectedCompany}" value="{{ (welcome.updateCompany ? 'Update ' : 'Add ') + (welcome.selectedCompany.name || 'Company') }}" />
            <a ng-show="welcome.selectedCompany && !welcome.working" ng-click="welcome.selectedCompany = undefined; welcome.company = undefined; welcome.alert = undefined; welcome.updateRole = false; welcome.selectedRole = 'none'; welcome.selectedCluster = 'none'; welcome.updateCompany = false;" style="padding-left: 15px; line-height: 2.5;">cancel</a>
            <div loading-bars ng-show="welcome.working" style="padding-top: 5px;"></div>
        </form>
        <div ng-show="welcome.selectedCompany">
            <h4 style="line-height:1.75;">
                Your primary role at <a href="{{welcome.selectedCompany.angellist_url}}" target="_blank" title="{{welcome.selectedCompany.name}}'s AngelList Profile">{{welcome.selectedCompany.name}}</a> is <a href="#" editable-select="welcome.selectedRole" e-ng-options="r.value as r.text for r in welcome.selectRoles">{{ welcome.showRole() }}</a>.<br/>
                Add up to six industries <a href="{{welcome.selectedCompany.angellist_url}}" target="_blank" title="{{welcome.selectedCompany.name}}'s AngelList Profile">{{welcome.selectedCompany.name}}</a> is a part of:
                <div class="panel-body industry_select" style="padding:1px; margin-top: 6px; margin-bottom: 6px;">
                    <ui-select multiple ng-model="welcome.selectedCompany.industries" ng-disabled="disabled" limit="6" alert_title="Sorry, only 6 items here." alert_text="Focus on industries with a network in your community." alert_type="warning" style="border:none;">
                        <ui-select-match placeholder="Search for industries..">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="industry in welcome.skills | filter:$select.search | limitTo: 25">
                            {{industry}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <a href="{{welcome.selectedCompany.angellist_url}}" target="_blank" title="{{welcome.selectedCompany.name}}'s AngelList Profile">{{welcome.selectedCompany.name}}</a>'s headline is <a style="color:#4ea5e0;" editable-text="welcome.selectedCompany.high_concept">{{welcome.selectedCompany.high_concept || 'empty'}}</a>.
                <br/><br/>
                Click below to edit <a href="{{welcome.selectedCompany.angellist_url}}" target="_blank" title="{{welcome.selectedCompany.name}}'s AngelList Profile">{{welcome.selectedCompany.name}}</a>'s summary:
            </h4>
            <div class="summary_form">
                <a editable-textarea="welcome.selectedCompany.product_desc" e-rows="12" e-cols="60">
                    <pre style="background: none; font-family: inherit; font-size: 14px; text-align: left;">{{welcome.selectedCompany.product_desc || 'Nothing here!'}}</pre>
                </a>
            </div>
        </div>
    </div>
    <div alert-box this-alert="welcome.alert"></div>
    <h4 style="margin-bottom: 13px;">
        <a class="btn btn-info pull-left" ui-sref="welcome.skills">Back</a>
        <a class="btn btn-info pull-right" ng-click="welcome.submit()">Finish</a></h4>
</div>
