<div class="hpanel">
    <div class="panel-heading" style="text-align:center;">
        <div class="col-xs-12" style="margin-bottom:10px;">
            <img ng-src="{{welcome.user.profile.linkedin.pictureUrl || welcome.user.profile.avatar || 'images/blank_avatar.png'}}" alt="{{::item.value.profile.name}}" class="user-img widget-image img-circle" onerror="this.style.display='none'"/>
        </div>
        <h4 style="font-size: 25px; line-height: 1.25;">{{welcome.user.profile.linkedin.firstName}}, please identify your roles in the community:</h4>
    </div>
    <div class="panel-body no-padding">
        <div class="list-group ">

            <a class="list-group-item" ng-class="{'active' : welcome.roles.founder}" ng-click="welcome.roles.founder = !welcome.roles.founder">
                <div class="stats-icon pull-right" ng-show="welcome.roles.founder"><i class="pe-7s-check fa-2x" ></i></div>
                <h5 class="list-group-item-heading">Founder</h5>
                <p class="list-group-item-text">You have started or co-founded a business venture.</p>
            </a>
            <a class="list-group-item" ng-class="{'active' : welcome.roles.investor}" ng-click="welcome.roles.investor = !welcome.roles.investor">
                <div class="stats-icon pull-right" ng-show="welcome.roles.investor"><i class="pe-7s-check fa-2x"></i></div>
                <h5 class="list-group-item-heading">Investor</h5>
                <p class="list-group-item-text">You are an active investor in startup companies.</p>
            </a>
            <a class="list-group-item" ng-class="{'active' : welcome.roles.team}" ng-click="welcome.roles.team = !welcome.roles.team">
                <div class="stats-icon pull-right" ng-show="welcome.roles.team"><i class="pe-7s-check fa-2x"></i></div>
                <h5 class="list-group-item-heading">Team Member</h5>
                <p class="list-group-item-text">You are a current employee or team member of a local startup.</p>
            </a>
            <a class="list-group-item" ng-class="{'active' : welcome.roles.mentor}" ng-click="welcome.roles.mentor = !welcome.roles.mentor">
                <div class="stats-icon pull-right" ng-show="welcome.roles.mentor"><i class="pe-7s-check fa-2x"></i></div>
                <h5 class="list-group-item-heading">Mentor</h5>
                <p class="list-group-item-text">You are willing to provide guidance to entrepreneurs without compensation - the 'give before you get' philosophy.</p>
            </a>
            <a class="list-group-item" ng-class="{'active' : welcome.roles.provider}" ng-click="welcome.roles.provider = !welcome.roles.provider">
                <div class="stats-icon pull-right" ng-show="welcome.roles.provider"><i class="pe-7s-check fa-2x"></i></div>
                <h5 class="list-group-item-heading">Service Provider</h5>
                <p class="list-group-item-text">You provide services to community members for a fee.</p>
            </a>
        </div>
    </div>
    <br>
    <div ng-show="welcome.alert">
        <alert type="{{welcome.alert.type}}" style="margin: 2px; text-align: center;" ng-click="welcome.alert = undefined"><span ng-bind-html="welcome.alert.message | safe_html"></span></alert>
    </div>
    <h4 style="margin-bottom: 13px;"><a class="btn btn-info pull-right" ui-sref="welcome.industries">Continue</a></h4>
</div>
