<div class="hpanel">
    <div class="panel-heading" style="text-align:center;">
        <h4 style="font-size: 25px; line-height: 1.25;">{{welcome.user.profile.linkedin.firstName}}, you are a <strong>Founder</strong>.<br><br>
        We require an <a target="_blank" href="https://angel.co">AngelList</a> profile URL to add your startup to the community.</h4>
    </div>
    <div class="panel-body no-padding">
        <div ng-show="welcome.alert" class="alert" ng-class="{'alert-success' : welcome.alert.type == 'success', 'alert-danger' : welcome.alert.type == 'danger'}">
            &nbsp;{{ welcome.alert.message }}
        </div>
        <div style="padding: 20px 20px 60px 20px;">
            <form role="form" name="welcome.founder.form" novalidate ng-submit="welcome.addStartup(nav.location_path, nav.community.key)">
                <div class="form-group">
                    <label>AngelList URL:</label>
                    <input type="text" placeholder="https://angel.co/startupcommunity" class="form-control input-lg" name="url" required ng-model="welcome.founder.form.url_value">
                    <div class="m-t-xs" ng-show="welcome.founder.form.url.$invalid && welcome.founder.form.submitted">
                        <span class="text-danger" ng-show="welcome.founder.form.url.$error">&nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i> We can't import their profile without an AngelList URL..</span>
                    </div>
                </div>
                <input type="submit" style="float:left" class="finish btn-success btn" ng-class="{'disabled' : disabled, 'disabled' : welcome.working}" value="Add Startup" />
            </form>
        </div>
    </div>
    <br>
    <h4 style="margin-bottom: 13px;">
        <a class="btn btn-info pull-left" ui-sref="welcome.setup">Back</a>
        <a class="btn btn-info pull-right" ng-click="welcome.submitFounder()">Continue</a></h4>
</div>
