<div class="col-md-12 dash-table">
    <div>
        <a ui-sref="people.profile({profile: item.value, community_key: item.value.key, location: people.community, community: {}})" title="View {{::item.value.profile.name | words:0}}'s Profile"><img
                ng-src="{{item.value.profile.linkedin.pictureUrl || item.value.profile.avatar || 'images/blank_avatar.png'}}" alt="{{::item.value.profile.name}}" class="user-img widget-image img-circle pull-left" onerror="this.style.display='none'"/></a>
    </div>
    <div class="user-row" ng-class="{'user-row-border': $index % 2 == 0}">
        <a ui-sref="people.profile({profile: item.value, community_key: item.value.key, location: people.community, community: {}})" title="View {{::item.value.profile.name | words:0}}'s Profile" style="float: left; "><strong>{{::item.value.profile.name}} </strong></a>
        <a ng-click="people.contact(item.value)" title="Contact {{item.value.profile.name}}" class="pull-left" style="margin-left: 6px; margin-top: 2px; padding: 0 8px 0 5px; line-height: 0;">
            <i class="pe-7s-mail" style="font-size: 20px; opacity: .45;"></i></a>
        <a ng-show="{{(item.value.profile.linkedin.summary).length > 0}}" title="Show Summary" ng-click="showSummary = !showSummary" class="user-summary">&nbsp;<i class="fa fa-chevron-down fa-fw"></i></a>
        <li ng-repeat="val in item.value.communities" class="role-right">
            <a href="{{'/' + val}}" ng-class="{'btn-danger' : people.communities[val].type == 'startup', 'btn-info' : people.communities[val].type == 'network', 'btn-primary' : people.communities[val].type == 'industry', 'btn-success' : people.communities[val].type == 'location'}" class="btn btn-xs btn-outline hidden"><i class="fa {{people.communities[val].profile.icon}}"></i> {{people.communities[val].profile.name}}</a>
        </li>
        <br>
        <div class="dash-row">
            <span class="text-muted" ng-bind-html="::item.value.profile.linkedin.headline | highlight:people.lastQuery"></span>
        </div>
        <div ng-show="(showSummary || $state.includes('search.*')) && item.value.profile.linkedin.summary">
            <div style="padding-bottom: 10px;">
                <hr>
                <span class="text-muted" style="white-space:pre-wrap;" ng-bind-html="::item.value.profile.linkedin.summary | linky:'_blank' | highlight:people.lastQuery | safe_html"></span>
                <div id="skills" ng-show="(showSummary || people.lastQuery) && item.value.profile.linkedin.summary" class="skills-top">
                    <li ng-repeat="skill in item.value.profile.linkedin.skills.values" class="label btn-default skills">
                        <a><span ui-sref="search({query: (skill.skill.name)})" ng-bind-html="::skill.skill.name | highlight:people.lastQuery"></span></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>