<div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4">
        <!-- Navigation Block -->
            <div class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Role</strong> Filters
                    <i ng-show="people.loadingRole" class="fa fa-refresh fa-spin pull-right" style="padding: 4px; color: #aaa;"></i>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':people.selectedRole.indexOf('*') >= 0}" ng-click="people.filterRole('*')">
                            <a href="javascript:void(0)">
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-class="{'active':people.selectedRole.indexOf('Founder') >= 0}" ng-click="people.filterRole('Founder')">
                            <a href="javascript:void(0)">
                                <i class="fa fa-rocket text-navyblue"></i> Founders
                            </a>
                        </li>
                        <li ng-class="{'active':people.selectedRole.indexOf('Leader') >= 0}" ng-click="people.filterRole('Founder')">
                            <a href="javascript:void(0)">
                                <i class="fa fa-flag text-danger"></i> Leaders
                            </a>
                        </li>
                        <li ng-class="{'active':people.selectedRole.indexOf('Advisor') >= 0}" ng-click="people.filterRole('Advisor')">
                            <a href="javascript:void(0)">
                                <i class="fa fa-graduation-cap text-info"></i> Advisors
                            </a>
                        </li>
                        <li ng-class="{'active':people.selectedRole.indexOf('Investor') >= 0}" ng-click="people.filterRole('Investor')">
                            <a href="javascript:void(0)">
                                <i class="fa fa-leaf text-success"></i> Investors
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hpanel hnavyblue" ng-if="people.community.type !== 'industry'">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Cluster</strong> Filters
                    <i ng-show="people.loadingIndustry" class="fa fa-refresh fa-spin pull-right" style="padding: 4px; color: #aaa;"></i>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-class="{'active':people.selectedIndustry.indexOf('*') >= 0}" ng-click="people.filterIndustry('*');">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> <strong>All</strong></a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-repeat="industry in nav.industries" ng-class="{'active':people.selectedIndustry.indexOf(industry.profile.name) >= 0}" ng-click="people.filterIndustry(industry.profile.name);">
                            <a><i class="fa {{industry.profile.icon}}"></i> {{industry.profile.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hpanel hblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Network</strong> Filters
                    <i ng-show="people.loadingNetwork" class="fa fa-refresh fa-spin pull-right" style="padding: 4px; color: #aaa;"></i>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-class="{'active':people.selectedNetwork.indexOf('*') >= 0}" ng-click="people.filterNetwork('*');">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> <strong>All</strong></a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-repeat="network in nav.networks" ng-class="{'active':people.selectedNetwork.indexOf(network.profile.name) >= 0}" ng-click="people.filterNetwork(network.profile.name);">
                            <a><i class="fa {{network.profile.icon}}"></i> {{network.profile.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    <div class="col-lg-10 col-md-9 col-sm-8" style="padding-left: 15px; padding-right: 15px;">

        <div class="hpanel">
            <div class="panel-footer top">
                <div class="pull-right">
                    <strong>{{people.users.start}} - {{people.users.end}}</strong> of <strong>{{people.users.total_count}}&nbsp;&nbsp;</strong>
                    <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                        <span ng-if="people.users.prev"><a ng-click="people.getUsers(people.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                        <span ng-if="people.users.next"><a ng-click="people.getUsers(people.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
                <div class="pull-right" style="margin-right: 25px; min-width: 175px;">
                    <ui-select multiple ng-model="people.skills.selected" theme="bootstrap" ng-disabled="disabled" limit="3">
                        <ui-select-match placeholder="Search by skill.." class="skill-input">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="skill in people.skills.list | filter:$select.search | limitTo: 5">
                            {{skill}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <span style="font-size: 17px;" ng-bind-html="people.title"></span>
                <i ng-show="people.loadingPeople" class="fa fa-refresh fa-spin pull-right" style="padding: 4px; color: #aaa;"></i>
            </div>

            <div class="panel-body content">
                <div class="row">
                    <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                </div>
                <div ng-show="people.search.tag" style="text-align: center" ng-cloak><h2><br/>Searching for {{people.search.tag}}..</h2></div>
                <div ng-repeat="item in people.users.results" ng-switch on="$index % 2" style="margin-top: 10px;">
                    <div class="col-md-6" ng-switch-when="0">
                        <div class="row"  ng-include="'components/people/people.dashboard.list.html'"></div>
                    </div>
                    <div class="col-md-6" ng-switch-when="1">
                        <div class="row"  ng-include="'components/people/people.dashboard.list.html'"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="height:45px;">
                <div class="pull-right">
                    <strong>{{people.users.start}} - {{people.users.end}}</strong> of <strong>{{people.users.total_count}}&nbsp;&nbsp;</strong>
                    <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                        <span ng-if="people.users.prev"><a ng-click="people.getUsers(people.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                        <span ng-if="people.users.next"><a ng-click="people.getUsers(people.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
