<form method="post" action="http://email.startupcommunity.org/includes/app/create.php" target="my_iframe">
    <input type="hidden" value="push_brand_test" name="app_name">
    <input type="hidden" value="James Zibtru" name="from_name">
    <input type="hidden" value="james@bendtech.com" name="from_email">
    <input type="hidden" value="james@bendtech.com" name="reply_to">
    <button type="submit">click</button>

</form>
<a ng-click="email.createBrand()" target="my_iframe">create brand</a>
<a ng-click="email.login()" target="my_iframe">login</a>

<iframe src="http://email.startupcommunity.org" name="my_iframe" style="border: none; margin-top: 30px; height: 85vh; width: 100%"></iframe>