<div>
    <div class="row">
        <div ng-if="!$state.includes('search.*')" class="col-lg-2 col-md-3 col-sm-4">
            <!-- Navigation Block -->
            <div class="hpanel hnavyblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Resource</strong> Filters
                    <div loading-bars ng-show="resource.loadingType" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':resource.selectedType.indexOf('*') >= 0}" ng-click="resource.filterType('*')">
                            <a>
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-repeat="t in resource.types" ng-class="{'active':resource.selectedType.indexOf(t) >= 0}" ng-click="resource.filterStage(t)">
                            <a>
                                {{t}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Industry</strong> Filters
                    <div loading-bars ng-show="resource.loadingCluster" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-if="resource.community.type !== 'cluster'" ng-init="resource.allClusters=true" ng-class="{'active':resource.allClusters}" ng-click="resource.loadingCluster=true; resource.allClusters=true; resource.filterClusters();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <li ng-if="resource.community.type == 'cluster'" class="active">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> {{resource.community.profile.name}}</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-if="resource.community.type !== 'cluster'" ng-repeat="cluster in nav.top.parents" ng-class="{'active':resource.selectedClusters.indexOf(cluster.label) >= 0}" ng-click="resource.loadingCluster=true;  resource.allClusters=false; resource.filterClusters(cluster.label);">
                            <a>{{cluster.label[0].toUpperCase() + cluster.label.slice(1)}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div ng-class="{'col-lg-10 col-md-9 col-sm-8' : !$state.includes('search.*')}" style="padding-left: 15px; padding-right: 15px;">

            <div class="hpanel">
                <div class="panel-footer top">
                    <div class="pull-right">
                        <strong>{{resource.resource.start}} - {{resource.resource.end}}</strong> of <strong>{{resource.resource.total_count}}&nbsp;&nbsp;</strong>
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="resource.resource.prev"><a ng-click="resource.searchCompanies(resource.resource.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="resource.resource.next"><a ng-click="resource.searchCompanies(resource.resource.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                    <span style="font-size: 17px;" ng-bind-html="resource.title"></span>
                    <span><i ng-show="resource.loadingCompanies" class="fa fa-refresh fa-spin" style="padding: 4px; color: #aaa; font-size: 17px; margin-left: 5px;"></i></span>
                </div>

                <div class="panel-body content">
                    <div class="row">
                        <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                    </div>
                    <div ng-show="resource.tag" style="text-align: center" ng-cloak><h2><br/>Searching for {{resource.tag}}..</h2><br/><br/></div>
                    <div ng-show="resource.resource.results.length == 0" style="text-align: center" ng-cloak><h2><br/>Nothing here!</h2><br/><br/></div>
                    <div ng-repeat="item in resource.resource.results" ng-switch on="$index % 2" style="margin-top: 10px;">
                        <div class="col-md-6" ng-switch-when="0">
                            <div class="row"  ng-include="'components/companies/company.list.item.html'"></div>
                        </div>
                        <div class="col-md-6" ng-switch-when="1">
                            <div class="row"  ng-include="'components/companies/company.list.item.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="height:45px;">
                    <div class="pull-right">
                        <strong>{{resource.resource.start}} - {{resource.resource.end}}</strong> of <strong>{{resource.resource.total_count}}&nbsp;&nbsp;</strong>
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="resource.resource.prev"><a ng-click="resource.searchCompanies(resource.resource.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="resource.resource.next"><a ng-click="resource.searchCompanies(resource.resource.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>