<div>
    <div class="hpanel">
        <tabset>
            <tab>
                <tab-heading>
                    People
                </tab-heading>
                <div class="panel-body" style="padding: 25px;">
                    <div ui-view="people"></div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    Startups
                </tab-heading>
                <div class="panel-body" style="padding: 25px;">
                    <div ui-view="startups"></div>
                </div>
            </tab>
        </tabset>
    </div>
</div>



