<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title"><span ng-show="!edit.update">Add</span><span ng-show="edit.update">Update</span> a Network in {{edit.location.profile.name}}</h4>
        <p class="font-bold">Networks are groups of companies and people who are connected through a private, invitation-only community. Examples of networks include startup accelerators, coworking spaces, mentorship groups, and investment funds.</p>
    </div>
    <div class="modal-body">
        <form name="edit.form">
            <div class="hpanel">
                <div class="panel-heading" style="font-size: 20px;">Select a resource to associate this network with:</div>
                <select class="form-control m-b" ng-model="edit.communityForm.resource" style="margin-bottom: 5px;" required>
                    <option ng-repeat="resource in edit.resources">{{ resource.community_profiles[edit.location.key].name }}</option>
                </select>
                <div><em><a ng-click="edit.cancel();$state.go('resource.list');">Click here to create a resource</a></em></div>
                <br>
                <div class="panel-heading" style="font-size: 20px;">Give the network a name:</div>
                <input type="text" class="form-control input-lg" placeholder="Techstars" ng-model="edit.communityForm.name" style="margin-bottom: 5px;" required>
                <br>
                <div class="panel-heading" style="font-size: 20px;">Customize the url path:</div>
                <input type="text" class="form-control input-lg" placeholder="{{ edit.encode(edit.communityForm.name) }}" ng-model="edit.communityForm.url" style="margin-bottom: 5px;">
                <em>Your url will be: https://startupcommunity.org/{{ edit.location.key }}/<strong><span style="text-transform: lowercase;">{{ edit.encode(edit.communityForm.url || edit.communityForm.name) }}</span></strong></em>
                <br><br>
                <div class="panel-heading" style="font-size: 20px;">And a short description:</div>
                <input type="text" class="form-control input-lg" placeholder="An accelerator for early stage SaaS startups.." ng-model="edit.communityForm.headline">
                <br>
                <br>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="edit.cancel()">Cancel</button>
        <button ladda="news.working" class="ladda-button btn btn-danger pull-left" data-style="zoom-in" data-spinner-size="25" ng-click="edit.deleteCommunity()" ng-show="edit.update">Delete {{edit.communityForm.name || 'Network'}}</button>
        <button ladda="news.working" class="ladda-button btn btn-primary" data-style="zoom-in" data-spinner-size="25" ng-click="edit.editCommunity()">
            <span ng-show="!edit.update">Create</span><span ng-show="edit.update">Update</span> {{edit.communityForm.name || 'Network'}}
            <div loading-bars ng-show="edit.working" style="padding-top: 5px; display: inline;"></div>
        </button>
    </div>
</div>

