<div tour backdrop="true" on-end="nav.end()">
    <!-- Header -->
    <div id="header">
        <div class="grey-line">
        </div>
        <div id="logo" class="light-version" style="transition: all 0.4s ease 0s;">
            <a ui-sref="community.dashboard({location_path: nav.location.key, community: nav.location, query: '*'})">
                <img ng-if="nav.community.profile && nav.community.profile.sc_logo" ng-src="{{nav.community.profile.sc_logo}}"/>
                <img ng-if="!(nav.community.profile && nav.community.profile.sc_logo) && (nav.location.profile && nav.location.profile.sc_logo)" ng-src="{{nav.location.profile.sc_logo}}"/>
                <img ng-if="!(nav.community.profile && nav.community.profile.sc_logo) && !(nav.location.profile && nav.location.profile.sc_logo)" src="/public/images/sc_logo.png" style="padding: 9px 20px 6px 18px;"/>

            </a>
        </div>
        <nav role="navigation">
            <minimaliza-menu ng-if="!nav.embedded"></minimaliza-menu>
            <div class="navbar-left">
                <div class="nav navbar-nav no-borders" style="white-space: nowrap;">
                    <li style="float: left;">
                        <a ng-click="$('#searchform').submit()">
                            <i class="pe-7s-search"></i>
                        </a>
                    </li>
                    <form id="searchform" ng-submit="nav.search(nav.search.query)" role="search" class="navbar-form-custom" method="post">
                        <input ng-model="nav.search.query" type="text" placeholder="Search {{nav.searchname}}.." class="form-control" name="search">
                    </form>
                </div>
            </div>

            <a id="tourstart" style="display: none;" ng-click="tour.restart(true)"></a>

            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-if="nav.user">
                            <a ui-sref="user.dashboard({profile: nav.user, location_path: nav.user.key, community: {}})">Your Profile</a>
                        </li>
                        <li ng-if="!nav.user">
                            <div style="margin: 20px 0 0 20px;">
                                <button class="btn btn-info" ng-click="nav.requestInvitation()" style="font-size: 16px; color: #fff;">Join Free</button>
                            </div>
                        </li>
                        <li ng-if="!nav.user">
                            <div style="margin-left: 20px;" ng-controller="LoginController as login">
                                <button class="btn btn-success" ng-click="login.authenticate('linkedin')" style="font-size: 16px; color: #fff;">Log In</button>
                            </div>
                        </li>
                        <li ng-if="nav.user" id="knowtify">
                            <a>Alerts</a>
                        </li>
                        <li ng-if="nav.user">
                            <a ui-sref="settings({location_path: nav.user.key, location: nav.nav_communities[nav.user.profile.home], community: nav.nav_communities[nav.user.profile.home]})">Settings</a>
                        </li>
                        <li ng-if="nav.user">
                            <a ng-click="nav.openChat()">Help</a>
                        <span ng-show="nav.chatMessageCount">
                            <span class="helpcrunch_message_count" ng-bind="nav.chatMessageCount"></span>
                        </span>
                        </li>
                        <li ng-if="nav.user">
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="!nav.embedded" class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li ng-if="nav.user" class="dropdown" style="padding-top: 10px; padding-left: 10px;" tour-step order="4" title="Your Profile" content="People can ask you questions on your profile page. Click 'End tour' to take a look." placement="bottom">
                        <div class="pull-left" style="padding-top: 3px; white-space: nowrap;     text-align: right; padding-right: 20px;">
                            <a ui-sref="user.dashboard({profile: nav.user, location_path: nav.user.key, community: {}})">{{nav.user.profile.name}}</a>
                            <div style="margin-left: -10px; padding-top: 1px;">
                                <span ng-repeat="(item, val) in nav.user.roles" class="user-role" ><i ng-attr-title="{{item[0].toUpperCase() + item.slice(1);}}" style="font-weight: bold;" ng-class="{'text-primary pe-7s-paper-plane' : item == 'founder', 'text-danger pe-7s-flag' : item == 'leader', 'text-info pe-7s-study' : item == 'mentor', 'text-success pe-7s-gleam' : item == 'investor', 'text-default pe-7s-ball' : item == 'team', 'text-warning pe-7s-portfolio' : item == 'provider'}"></i></span>
                            </div>
                        </div>
                        <div class="pull-right" style="padding-right: 10px;">
                            <a ui-sref="user.dashboard({profile: nav.user, location_path: nav.user.key, community: {}})"><img title="Your Profile" class="img-circle m-b" ng-src="{{nav.user.profile.avatar || nav.user.profile.linkedin.pictureUrl || '/public/images/blank_avatar.png'}}" alt="{{nav.user.profile.name}}" style="height: 40px; width: 40px; " onerror="this.src='/public/images/blank_avatar.png'"/></a>
                        </div>
                    </li>
                    <li ng-if="!nav.user" class="dropdown">
                        <div style="padding-top: 12px; margin-right: 8px;">
                            <button class="btn btn-info" ng-click="nav.requestInvitation()" style="font-size: 16px; color: #fff;">Join Free</button>
                        </div>
                    </li>
                    <li ng-if="!nav.user" class="dropdown">
                        <div style="padding-top: 12px; margin-right: 26px;" ng-controller="LoginController as login">
                            <button class="btn btn-success" ng-click="login.authenticate('linkedin')" style="font-size: 16px; color: #fff;">Log In</button>
                        </div>
                    </li>
                    <li ng-if="nav.user" id="knowtify" class="dropdown">
                        <a tooltip-placement="bottom" tooltip="Alerts">
                            <i class="pe-7s-bell"></i>
                        </a>
                    </li>
                    <li ng-if="nav.user" class="dropdown">
                        <a ui-sref="settings({location_path: nav.user.key, location: nav.nav_communities[nav.user.profile.home], community: nav.nav_communities[nav.user.profile.home]})" tooltip-placement="bottom" tooltip="Settings">
                            <i class="pe-7s-config"></i>
                        </a>
                    </li>
                    <li ng-if="nav.user" class="dropdown">
                        <a ng-click="nav.openChat()" tooltip-placement="bottom" tooltip="Help">
                            <i class="pe-7s-help1"></i>
                        </a>
                        <a ng-show="nav.chatMessageCount">
                            <span class="helpcrunch_message_count" ng-bind="nav.chatMessageCount"></span>
                        </a>
                    </li>
                    <li ng-if="nav.user" class="dropdown">
                        <a tooltip-placement="bottom" tooltip="Logout" href="/logout" style="padding-right: 30px;">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <!-- Navigation -->
    <aside id="menu" ng-if="!nav.embedded">

        <ul side-navigation class="nav" id="side-menu" style="border-top: 1px solid #e4e5e7; margin-bottom: 50px;">

            <li class="active">
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="community.dashboard({location_path: nav.location.key, community_path: '', community: nav.location, location: nav.location, query: '*'})" style="padding-left: 15px; font-size: 16px; font-weight: bold; border-bottom: 1px solid #eee; background-color:#F6F8F9; border-left: 2px solid #82BC4B;" ng-click="l_working = true">
                            <span ng-if="nav.location" style="white-space:nowrap;font-size:18px;">
                                <span class="fa fa-angle-down" style="font-size: 18px; margin: 0 -2px 0 -4px;"></span>
                                &nbsp;{{nav.location.profile.name.split(',').slice(0, (nav.location.profile.name.split(',').length - 1) || 1).join()}}
                                <span loading-bars ng-show="l_working"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="active" ng-show="nav.locations">
                <a style="cursor:default;"><span>

                    Locations

                </span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-if="!nav.locations || nav.locations === {}">
                        <a>No locations yet</a>
                    </li>
                    <li ng-repeat="item in nav.locations">
                        <a ui-sref="community.dashboard({location_path: item.key, community_path: '', community: item, location: item, query: '*'})" ng-class="{active: nav.path.includes('/' + item.key)}" ng-click="li_working = true"><i class="fa fa-globe"></i> {{item.profile.name}}
                        <span loading-bars ng-show="li_working"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ng-repeat="(k, v) in nav.networks" class="active" tour-step order="2" title="Private Networks" content="Networks are groups of companies and people who are connected through a private, invitation-only community.<br><br>Examples of networks include startup accelerators, coworking spaces, mentorship groups, and investment funds." placement="right">
                <a style="cursor:default;"><span>

                    {{k}}

                </span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-repeat="item in nav.networks[k]">
                        <a ui-sref="{{'community.dashboard' + nav.nav_jump}}" ng-class="{active: nav.path.includes('/' + item.key)}" ng-click="nc_working = true">
                            <i ng-class="'fa ' + item.profile.icon"></i> {{item.community_profiles[nav.location.key].name}}
                            <span loading-bars ng-show="nc_working"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="active" ng-show="nav.top.parents" tour-step order="3" title="Industry Clusters" content="A cluster is an entrepreneurial ecosystem in support of a specific industry.<br><br>Clusters are made up of mentors, investors, companies, accelerators, coworking spaces, and events that connect people and foster creation of new startups." placement="right">
                <a style="cursor:default;"><span>

                    Industries

                </span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-repeat="item in nav.top.parents | orderBy: 'item.value' : reverse">
                        <a ui-sref="community.dashboard({community_path: item.label, community: nav.nav_communities[item.label], query: '*', location_path: nav.location.key || nav.user.profile.home})" ng-class="{active: nav.path.includes('/' + item.label)}" ng-click="cl_working = true">
                            <span>
                                <i ng-class="'fa ' + nav.nav_communities[item.label].profile.icon"></i> {{item.label[0].toUpperCase() + item.label.slice(1)}}
                                <span loading-bars ng-show="cl_working"></span>

                                <a ng-repeat="c in nav.clusters[item.label]" ui-sref="community.dashboard({community_path: c.key, community: nav.nav_communities[c.key], query: '*', location_path: nav.location.key || nav.user.profile.home})" ng-class="{active: nav.path.includes('/' + c.key)}" ng-click="clc_working = true" style="padding-left:40px;">
                                    <i ng-class="'fa ' + nav.nav_communities[item.label].profile.icon"></i> {{c.community_profiles[nav.location.key].name[0].toUpperCase() + c.community_profiles[nav.location.key].name.slice(1);}}
                                    <span loading-bars ng-show="clc_working"></span>
                                </a>
                            </span>

                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div>
            <ul id="sidebar" sticky-scroll="40">
            </ul>
        </div>
    </aside>


    <!-- Main Content -->
    <div ui-view >
        <div ng-style="{'background-color': nav.color}" ng-class="{'wrapper' : !nav.embedded}">
            <div class="splash" id="minorsplash" style="z-index: 2100;"><div class="splash-title"><a href="/"><img src="/public/images/sc_logo.png" style="width: 75%;" alt="StartupCommunity.org Logo"/></a><img src="/public/images/loading-bars.svg" width="64" height="64" /> </div></div>
            <div ng-style="{'background-color': nav.color}" ui-view="header"></div>
            <div ng-class="{'content' : !nav.embedded}" ng-style="{'background-color': nav.color}">
                <div ui-view="content"></div>
            </div>
        </div>
    </div>

</div>