<div class="row" ng-controller="ProfileController">
    <div class="col-lg-12">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-2 col-lg-1">
                            <img class="img-circle m-b" style="height:75px;" ng-src="{{global.profile.profile.avatar || global.profile.profile.linkedin.pictureUrl || '/public/blank_avatar.png'}}" alt="{{::global.profile.profile.name}}">
                        </div>
                        <div class="col-sm-10 col-lg-11" style="height: 100px;">
                            <div class="project-action" style="margin-right: -15px;">
                                <div class="btn-group pull-right">
                                    <a href="#"><i class="fa fa-twitter btn btn-default btn-xs"></i></a>
                                    <a href="{{global.profile.profile.linkedin.publicProfileUrl}}" target="_blank"><i class="fa fa-linkedin btn btn-default btn-xs"></i>
                                    </a>
                                </div>
                            </div>
                            <h3>{{::global.profile.profile.name | words:0}} {{::global.profile.profile.name | words:1}} {{::global.profile.profile.name | words:2}}
                            </h3>
                            <h4>
                                {{::global.profile.profile.linkedin.headline}}
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="profile-label">Leader of</div>
                                <small>3.0.0</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="profile-label">Founder of</div>
                                <small>3.0.0</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="profile-label">Investor in</div>
                                <small>16.10.2015</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="profile-label">Advisor to</div>
                                <progressbar value="65" type="warning" class="m-t-xs  full progress-small"></progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 project-info">
                        <div class="border-right border-left">
                            <map id="profile-map" center="Portland, OR" zoom="11" disable-default-u-i="true"></map>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <h3>Summary</h3>
                {{::global.profile.profile.linkedin.summary}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Task</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span class="text-danger font-bold">Lorem ipsum</span>
                            </td>
                            <td>Jul 14, 2013</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger font-bold">Lorem ipsum</span>
                            </td>
                            <td>Jul 09, 2015</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger font-bold">Lorem ipsum</span>
                            </td>
                            <td>Jul 24, 2014</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
