<div class="hpanel">
    <div class="panel-heading" style="text-align:center;">
        <h4 style="font-size: 25px; line-height: 1.25;">{{welcome.user.profile.linkedin.firstName}}, please select your roles within the community:</h4>
    </div>
    <div class="panel-body no-padding">
        <div class="list-group ">

            <a class="list-group-item" ng-repeat="r in welcome.selectRoles" ng-if="$index >= 1" ng-class="{'active' : welcome.roles[r.value]}" ng-click="welcome.roles[r.value] = !welcome.roles[r.value]">
                <div class="stats-icon pull-right" ng-show="welcome.roles[r.value]"><i class="pe-7s-check fa-2x" ></i></div>
                <h5 class="list-group-item-heading">{{ r.text }}</h5>
                <p class="list-group-item-text">{{ r.description }}</p>
            </a>

        </div>
    </div>
    <br>
    <p style="text-align: center;">Select multiple roles if appropriate.</p>
    <div alert-box this-alert="welcome.alert"></div>
    <h4 style="margin-bottom: 13px;"><a class="btn btn-info pull-right" ui-sref="welcome.profile">Continue</a></h4>
</div>
