<nav class="pagination" role="navigation">
	<div class="nav">
		{{#if prev}}
			<a class="newer-posts" href="{{page_url prev}}"><i class="fa fa-arrow-left"></i></a>
		{{/if}}
		<span class="page-number">Page {{page}} of {{pages}}</span>
		{{#if next}}
			<a class="older-posts" href="{{page_url next}}"><i class="fa fa-arrow-right"></i></a>
		{{/if}}
	</div>
</nav>