{{!< default}}

<main class="content" role="main">

	<div class="single boxed-content center">
	
		<section class="not-found">
			<h1>Error 404</h1>
			<p>Sorry! This article doesn’t exist</p>
			<a href="{{@blog.url}}">Return to Home</a>
		</section>
		
	</div>

</main>