<div class="hpanel hgreen" style="margin-bottom: 10px;">
    <div class="panel-body hero" style="padding: 10px 0;">
        <div style="padding: 20px 15px;">
            <header class="heading content" style="color:#fff">
                <button ng-if="nav.location_path == nav.user.key" ui-sref="welcome({location: nav.location, location_path: nav.location.key, go: 'welcome.roles'})" class="btn btn-warning pull-right" style="margin-left:-100px;">Edit Profile</button>
                <img class="img-circle m-b" style="height:100px;" ng-src="{{profile.company.profile.avatar || profile.company.profile.angellist.thumb_url || '/public/images/blank_startup.jpg'}}" alt="{{::profile.company.profile.name}}" onerror="this.src='/public/images/blank_startup.jpg'">
                <div style="margin:-15px 0;">
                    <span ng-if="profile.company.profile.parents[0]" class="btn btn-default btn-xs">
                        {{::profile.company.profile.parents[0][0].toUpperCase() + profile.company.profile.parents[0].slice(1);}}
                    </span>
                    <span ng-if="profile.company.profile.stage" class="btn btn-success btn-xs">
                        {{::profile.company.profile.stage}}
                    </span>
                </div>
                <h1 style="overflow:hidden; line-height: 1.25;">
                    {{::profile.company.profile.name}}
                </h1>
                <h3 style="padding-top: 5px;" style="line-height: 1.5;">
                    {{::profile.company.profile.angellist.high_concept}}
                </h3>
                <div style="padding-top:10px; overflow: hidden; height: 50px; margin-bottom: -10px;">
                    <li ng-repeat="industry in profile.company.profile.industries" style="margin-right: 5px;" class="btn btn-outline btn-default btn-xs" ui-sref="search.dashboard({location_path: nav.location.key, community: nav.location, query: industry})">
                        {{::industry}}
                    </li>
                </div>
            </header>
        </div>
        <span><div id="cover-photo" class="active" ng-style="{'background-image':profile.background_image}"></div><span class="cover-overlay"></span></span>
    </div>
</div>
<div class="hpanel">
    <div class="panel-body content-tab-wrapper">

        <!-- BEGIN Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li id="team_li" class="active"><a href="#team" aria-controls="team" role="tab" data-toggle="tab" aria-expanded="true"><span class="pe-7s-ball"></span>Team</a></li>
            <li id="profile_li" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="pe-7s-note2"></span>Full Profile</a></li>
        </ul>
        <!--/ END Nav tabs -->

        <div alert-box this-alert="profile.alert"></div>

        <!-- BEGIN Tab panes -->
        <div class="tab-content" style="position: static; padding: 30px;">

            <div role="tabpanel" class="tab-pane active" id="team">

                <div ng-include="'components/companies/company.dashboard.team.html'"></div>

            </div> <!-- First Tab Pane -->

            <div role="tabpanel" class="tab-pane" id="profile">

                <div ng-include="'components/companies/company.dashboard.profile.html'"></div>

            </div> <!-- Second Tab Pane -->

        </div>
        <!--/ END Tab panes -->

    </div>
</div>