<div>
    <div class="row">
        <div ng-if="!$state.includes('search.*')" class="col-lg-2 col-md-3 col-sm-4">
            <!-- Navigation Block -->
            <div ng-if="companies.resource_page" class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Resource</strong> Filters
                    <div loading-bars ng-show="companies.loadingType" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':companies.selectedType.indexOf('*') >= 0}" ng-click="companies.filterType('*')">
                            <a>
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-repeat="t in companies.resource_types" ng-class="{'active':companies.selectedType.indexOf(t) >= 0}" ng-click="companies.filterType(t)">
                            <a>
                                {{t}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hpanel hnavyblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Industry</strong> Filters
                    <div loading-bars ng-show="companies.loadingCluster" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-if="global.community.type !== 'cluster'" ng-init="companies.allClusters=true" ng-class="{'active':companies.allClusters}" ng-click="companies.loadingCluster=true; companies.allClusters=true; companies.filterClusters();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <li ng-if="global.community.type == 'cluster'" class="active">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> {{global.community.profile.name}}</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-if="global.community.type !== 'cluster'" ng-repeat="cluster in global.top.parents" ng-class="{'active':companies.selectedClusters.indexOf(cluster.label) >= 0}" ng-click="companies.loadingCluster=true;  companies.allClusters=false; companies.filterClusters(cluster.label);">
                            <a>{{cluster.label[0].toUpperCase() + cluster.label.slice(1)}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="!companies.resource_page" class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Stage</strong> Filters
                    <div loading-bars ng-show="companies.loadingStage" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list">
                        <li ng-class="{'active':companies.selectedStage.indexOf('*') >= 0}" ng-click="companies.filterStage('*')">
                            <a>
                                <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                            </a>
                        </li>
                        <li>
                            <hr style="margin: 10px 0 10px 0;">
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Bootstrap') >= 0}" ng-click="companies.filterStage('Bootstrap')">
                            <a>
                                Bootstrap
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Seed') >= 0}" ng-click="companies.filterStage('Seed')">
                            <a>
                                Seed / Angel
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Series A') >= 0}" ng-click="companies.filterStage('Series A')">
                            <a>
                                Series A
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Series B') >= 0}" ng-click="companies.filterStage('Series B')">
                            <a>
                                Series B
                            </a>
                        </li>
                        <li ng-class="{'active':companies.selectedStage.indexOf('Later') >= 0}" ng-click="companies.filterStage('Later')">
                            <a>
                                Later Stage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

           <!-- <div class="hpanel hblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Resource</strong> Filters
                    <div loading-bars ng-show="companies.loadingResource" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-init="companies.allResources=true" ng-class="{'active':companies.allResources}" ng-click="companies.loadingResource=true; companies.allResources=true; companies.filterResources();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-repeat="resource in nav.resources" ng-class="{'active':companies.selectedResources.indexOf(resource.key) >= 0}" ng-click="companies.allResources=false; companies.filterResources(resource.key);">
                            <a>{{resource.profile.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>



        <div ng-class="{'col-lg-10 col-md-9 col-sm-8' : !$state.includes('search.*')}" style="padding-left: 15px; padding-right: 15px;">

            <div class="hpanel">
                <div class="panel-footer top">
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="companies.companies.prev"><a ng-click="companies.searchCompanies(undefined, companies.companies.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="companies.companies.next"><a ng-click="companies.searchCompanies(undefined, companies.companies.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                    <span style="font-size: 17px;" ng-bind-html="companies.title"></span>
                    <span loading-bars ng-if="companies.loadingCompany"></span>
                </div>

                <div class="panel-body content" style="padding-top: 0;">
                    <div class="row">
                        <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                    </div>
                    <div ng-show="companies.tag" style="text-align: center" ng-cloak><h2><br/>Searching for {{companies.tag}}..</h2><br/><br/></div>
                    <div ng-show="companies.companies.results.length == 0" style="text-align: center" ng-cloak><h2><br/>Nothing here!</h2><br/><br/></div>
                    <div ng-repeat="item in companies.companies.results" ng-switch on="$index % 2">
                        <div class="col-md-6" ng-switch-when="0">
                            <div class="row"  ng-include="'components/companies/company.list.item.html'"></div>
                        </div>
                        <div class="col-md-6" ng-switch-when="1">
                            <div class="row"  ng-include="'components/companies/company.list.item.html'"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="height:45px;">
                    <div class="pull-left" ng-if="global.user">
                        <button ng-if="companies.resource_page" ladda="global.loaders['addres']" class="ladda-btn btn btn-xs btn-outline btn-success" ng-click="global.loaders['addres'] = true" ui-sref="resource.add">+ Add Resource</button>
                        <button ng-if="!companies.resource_page" ladda="global.loaders['addco']" class="ladda-btn btn btn-xs btn-outline btn-primary" ng-click="global.loaders['addco'] = true;" ui-sref="company.add">+ Add Company</button>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                            <span ng-if="companies.companies.prev"><a ng-click="companies.searchCompanies(undefined, companies.companies.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                            <span ng-if="companies.companies.next"><a ng-click="companies.searchCompanies(undefined, companies.companies.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>