<div class="hpanel hgreen" style="margin-bottom: 10px;">
    <div class="panel-body hero" style="padding: 10px 0;">
        <div style="padding: 20px 15px;">
            <header class="heading content" style="color:#fff">
                <a href="javascript:window.location.href=window.location.href" style="color: #eee; font-size: 7px; float: left; margin-left: -40px; margin-top: -12px;">random image</a>
                <button ng-if="nav.user" ng-click="nav.addCompany(profile.company)" class="btn btn-warning pull-right" style="margin-left:-100px;">Edit Profile</button>
                <img class="img-circle m-b" ng-show="profile.company.profile.avatar" style="height:100px;" ng-src="{{profile.company.profile.avatar}}" alt="{{::profile.company.profile.name}}" onerror="this.src='/public/images/browser_icon.jpg'">
                <div style="margin:-15px 0;">
                    <span ng-if="profile.company.profile.parents[0]" class="btn btn-default btn-xs">
                        <a ui-sref="community.dashboard({location_path: profile.company.profile.home, community_path: profile.company.profile.parents[0], community: profile.communities[profile.company.profile.parents[0]], query: &quot;&#42;&quot;})">{{::profile.company.profile.parents[0][0].toUpperCase() + profile.company.profile.parents[0].slice(1);}}</a>
                    </span>
                    <span ng-if="profile.company.profile.stage" class="btn btn-success btn-xs">
                        {{::profile.company.profile.stage}}
                    </span>
                </div>
                <h1 style="overflow:hidden; line-height: 1.25;">
                    {{::profile.company.profile.name}}
                </h1>
                <h3 style="padding-top: 5px;" style="line-height: 1.5;">
                    {{::profile.company.profile.headline}}
                </h3>
                <div style="padding-top:10px; overflow: hidden; height: 50px; margin-bottom: -10px;">
                    <li ng-repeat="industry in profile.company.profile.industries" style="margin-right: 5px;" class="btn btn-outline btn-default btn-xs" ui-sref="search.dashboard({location_path: nav.location.key, community: nav.location, query: industry})">
                        {{::industry}}
                    </li>
                </div>
            </header>
        </div>
        <span><div id="cover-photo" class="active" ng-style="{'background-image':'url(https://source.unsplash.com/category/nature)'}"></div><span class="cover-overlay"></span></span>
    </div>
</div>
<div class="hpanel">
    <div class="panel-body content-tab-wrapper">

        <!-- BEGIN Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li id="team_li" class="active"><a href="#team" aria-controls="team" role="tab" data-toggle="tab" aria-expanded="true">Team</a></li>
            <li id="profile_li" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Profile</a></li>
            <li id="network_li" ng-if="profile.company.resource" ><a href="#network" aria-controls="network" role="tab" data-toggle="tab" aria-expanded="false" ng-click="profile.getNetwork()">Network</a></li>
        </ul>
        <!--/ END Nav tabs -->

        <div alert-box this-alert="profile.alert"></div>

        <!-- BEGIN Tab panes -->
        <div class="tab-content" style="position: static; padding: 30px;">

            <div role="tabpanel" class="tab-pane active" id="team">

                <div ng-include="'components/companies/company.dashboard.team.html'"></div>

            </div>

            <div role="tabpanel" class="tab-pane" id="profile">

                <div ng-include="'components/companies/company.dashboard.profile.html'"></div>

            </div>

            <div role="tabpanel" class="tab-pane" id="network">

                <div class="hpanel">
                    <div class="panel-footer top" style="height: 45px; border-bottom: 1px solid #eee;">
                        <div class="pull-right">
                            <strong>{{profile.users.start}} - {{profile.users.end}}</strong> of <strong>{{profile.users.total_count}}&nbsp;&nbsp;</strong>
                            <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                                <span ng-if="profile.users.prev"><a ng-click="profile.searchUsers(profile.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                                <span ng-if="profile.users.next"><a ng-click="profile.searchUsers(profile.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                        <span style="font-size: 17px;" ng-bind-html="profile.title"></span>
                        <span><i ng-show="profile.loadingUser" class="fa fa-refresh fa-spin" style="padding: 4px; color: #aaa; font-size: 17px; margin-left: 5px;"></i></span>
                    </div>

                    <div class="panel-body content">
                        <div class="row">
                            <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                        </div>
                        <div ng-show="profile.users.results.length == 0" style="text-align: center;" ng-cloak><h2><br/>Nothing here!</h2><br/><br/></div>
                        <div ng-repeat="item in profile.users.results" ng-switch on="$index % 2" style="margin-top: 10px;">
                            <div class="col-md-6" ng-switch-when="0">
                                <div class="row"  ng-include="'components/users/user.list.item.html'"></div>
                            </div>
                            <div class="col-md-6" ng-switch-when="1">
                                <div class="row"  ng-include="'components/users/user.list.item.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="height:45px;">
                        <div class="pull-right">
                            <strong>{{profile.users.start}} - {{profile.users.end}}</strong> of <strong>{{profile.users.total_count}}&nbsp;&nbsp;</strong>
                            <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                                <span ng-if="profile.users.prev"><a ng-click="profile.searchUsers(profile.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                                <span ng-if="profile.users.next"><a ng-click="profile.searchUsers(profile.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--/ END Tab panes -->

    </div>
</div>