<div class="hpanel hgreen" style="margin-bottom: 10px;">
    <div class="panel-body hero" style="padding: 10px 0;">
        <div style="padding: 20px 15px;">
            <header class="heading content" style="color:#fff">
                <a href="javascript:window.location.href=window.location.href" style="color: #eee; font-size: 7px; float: left; margin-left: -40px; margin-top: -12px;">random image</a>
                <button ng-if="::global.user" ui-sref="company.edit({community_path: global.profile.key})" class="btn btn-warning pull-right" style="margin-left:-100px;">Edit</button>
                <img class="img-circle m-b" ng-show="::global.profile.profile.avatar" style="max-height:100px; max-width:100px;" ng-src="{{::global.profile.profile.avatar}}" alt="{{::global.profile.profile.name}}" onerror="this.src='/public/images/browser_icon.jpg'">
                <div style="margin:-15px 0;">
                    <button ng-if="::global.profile.profile.parents[0]" ladda="btnworking" ng-click="btnworking = true" class="ladda-btn btn btn-default btn-xs" ui-sref="community.dashboard({location_path: global.profile.profile.home, community_path: global.profile.profile.parents[0]})">
                        {{::global.profile.profile.parents[0][0].toUpperCase() + global.profile.profile.parents[0].slice(1);}}
                    </button>
                    <button ng-if="::global.profile.profile.stage" ladda="btnworking" ng-click="btnworking = true" class="ladda-btn btn btn-success btn-xs">
                        {{::global.profile.profile.stage}}
                    </button>
                </div>
                <h1 style="overflow:hidden; line-height: 1.25;">
                    {{::global.profile.profile.name}}
                </h1>
                <h3 style="padding-top: 5px;" style="line-height: 1.5;">
                    {{::global.profile.profile.headline}}
                </h3>
                <div style="margin-top:-18px; margin-bottom: -8px;">
                    <a href="{{::'http://' + global.profile.profile.website}}" target="_blank" style="font-size:14px; color: #6DC8EE;">{{::global.profile.profile.website}}</a>
                </div>
                <div style="overflow: hidden; height: 40px; margin-bottom: -10px;">
                    <button ng-repeat="industry in ::global.profile.profile.industries" style="margin-right: 5px;" ladda="btnworking" ng-click="btnworking = true" class="ladda-btn btn btn-outline btn-default btn-xs" ui-sref="search.dashboard({location_path: global.location.key, community_path: '', tail_path: '', query: industry
                    })">
                        {{::industry}}
                    </button>
                </div>
            </header>
        </div>
        <span><div id="cover-photo" class="active" ng-style="{'background-image':'url(https://source.unsplash.com/category/buildings)'}"></div><span class="cover-overlay"></span></span>
    </div>
</div>
<div class="hpanel">
    <div class="panel-body content-tab-wrapper">

        <!-- BEGIN Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li id="network_li" class="active"><a href="#network" aria-controls="network" role="tab" data-toggle="tab" aria-expanded="true">Network</a></li>
            <li id="profile_li" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Profile</a></li>
        </ul>
        <!--/ END Nav tabs -->

        <div alert-box this-alert="profile.alert"></div>

        <!-- BEGIN Tab panes -->
        <div class="tab-content" style="position: static; padding: 30px;">

            <div role="tabpanel" class="tab-pane active" id="network">

                <div ng-include="'components/companies/company.dashboard.network.html'"></div>

            </div>

            <div role="tabpanel" class="tab-pane" id="profile">

                <div ng-include="'components/companies/company.dashboard.profile.html'"></div>

            </div>

        </div>
        <!--/ END Tab panes -->

    </div>
</div>