<div class="panel-body" style="padding: 10px 5px; margin-bottom: -12px;">
    <div class="col-xs-8">
        <div class="stats-title pull-left" style="white-space: nowrap;">
            <div class="stats-icon pull-left" style="margin-top: 11px; margin-right: 8px;">
                <i ng-class="type.icon" class="fa-2x"></i>
            </div>
            <a ui-sref="{{'user.list' + nav.nav_url}}">
                <h3 ng-bind="type.title" style="padding-left: 5px;"></h3>
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <h3 class="text-info pull-right">{{::profile.company.team.count[type.name]}}</h3>
    </div>
</div>
<div class="panel-footer" style="background: #fff; text-align: center; padding-bottom:32px;">
    <div ng-repeat="item in ::profile.company.team[type.name]" style="text-align: left;">
        <div>
            <div class="row" ng-include="'components/users/user.list.item.html'"></div>
        </div>
    </div>
    <div ng-if="!profile.company.team[type.name]" style="padding-top: 10px; margin-bottom: -22px;">No {{::type.title.toLowerCase()}} yet..</div>
    <div ladda="profile[type.name]" ng-if="profile.company.team[type.name]" class="ladda-button btn btn-xs btn-default" style="margin-top: 6px; float:right;" ng-click="profile[type.name] = true" ui-sref="{{'user.list' + nav.nav_url}}">view all</div>
    <div ng-if="nav.user.roles[type.name][profile.company.key]" class="btn btn-xs btn-default" style="margin-top: 6px; float:left;" ng-click="profile.remove(type.name)">Remove yourself as a {{::type.title.toLowerCase().substring(0, type.title.length-1)}}</div>
</div>