<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Invite people to join {{invite.community.profile.name}}</h4>
        <p class="font-bold">If you invite someone who is already in the system, they will be added to your {{invite.community.type}} immediately without being notified. Otherwise we will send them an invitation by email.</p>
    </div>
    <div class="modal-body">
        <div class="hpanel">
            <div class="panel-heading" style="font-size: 20px;">Enter an email address:</div>
            <div style="padding-bottom: 30px;">
                <form role="form" name="invite.form" novalidate ng-submit="invite.inviteUser()">
                    <div class="form-group">
                        <input type="email" placeholder="new@mentor.com" class="form-control input-lg" required name="email" ng-model="invite.form.email_value">
                        <div class="m-t-xs" ng-show="invite.form.email.$invalid && invite.form.submitted">
                            <span class="text-danger" ng-show="invite.form.email.$error">&nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i> Please enter a valid email address..</span>
                        </div>
                    </div>
                    <input type="submit" style="float:left" class="finish btn-success btn" ng-class="{'disabled' : disabled}" value="Invite Person" /><div style="padding-top: 6px; margin-bottom: -24px;" ng-show="invite.working" loading-bars></div>
                </form>
            </div>
        </div>
        <div alert-box this-alert="invite.alert"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="invite.cancel()">Close</button>
    </div>
</div>

