<div ng-show="profile.user.profile.linkedin.summary" style="margin-top:10px;">
    <h3>Summary</h3>
    <p style="white-space:pre-wrap;" ng-bind-html="::profile.user.profile.linkedin.summary | linky:'_blank'"></p>
    <hr>
    <h3 ng-show="profile.user.profile.skills">Skills & Industries</h3>
    <li ng-repeat="skill in profile.user.profile.skills" class="label btn-default skills"><a href="#" ui-sref="search.dashboard({location_path: $rootScope.global.location.key, community: $rootScope.global.location, query: skill})">{{::skill}}</a></li>
</div>