<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="media social-profile clearfix">
            <a class="pull-left">
                <img class="img-circle m-b" style="height: 65px;" ng-src="{{question.from.avatar || '/public/images/blank_avatar.png'}}" alt="{{question.from.name}}" ui-sref="user.dashboard({location_path: question.from.key, community: {}, profile: {}})">
            </a>
            <div class="media-body">
                <a class="pull-right" style="font-size: 13px; margin-top: 3px; padding-right: 10px;" ui-sref="user.dashboard({location_path: question.from.key, community: {}, profile: {}})">{{question.from.headline}}</a>
                <p><a style="font-weight:bold; padding-left: 4px;" ui-sref="user.dashboard({location_path: question.from.key, community: {}, profile: {}})">{{question.from.name}}</a> asked:</p>
                <div class="question-content">
                    {{ question.content }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding:0 20px;"></div>
    <div class="panel-footer">
        <div class="social-talk" ng-repeat="reply in question.replies" ng-include="'components/users/user.dashboard.ask.questions.replies.html'">
        </div>
        <div class="social-form">
            <form ng-submit="profile.postReply(question)">
                <input class="form-control input-md" ng-disabled="!profile.loggedin" placeholder="Write a reply.." ng-model="profile.reply[question.key]" required>
            </form>
            <div loading-bars ng-show="profile.working[question.key]" style="text-align:center; margin-left: -50px; margin-top: 10px;"></div>
        </div>
    </div>
</div>