<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Invite people to join {{global.community.name}}</h4>
        <p class="font-bold">If you invite someone who is already in the system, they will be added to your community immediately without being notified. Otherwise we will send them an invitation by email.</p>
    </div>
    <div class="modal-body">
        <div class="hpanel">
            <div class="panel-heading" style="font-size: 20px;">Enter email addresses and an optional message:</div>
            <div style="padding-bottom: 30px;">
                <form role="form" name="invite.form" novalidate ng-submit="invite.inviteUser()">
                    <div class="form-group">
                        <input type="text" placeholder="new@mentor.com, new@investor.com" class="form-control input-lg" required name="email" ng-model="invite.form.email_value">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Optional message.." class="form-control input-lg" name="message" ng-model="invite.form.message_value">
                    </div>
                    <table class="form-group" style="font-size: 20px; font-weight:300;">
                        <tr ng-repeat="k in invite.resources" ng-if="k.community_profiles[global.location.id]">
                            <td style="width:20px;">
                                <input type="checkbox" class="form-control checkbox" ng-model="invite.form.resources[k.id]">
                            </td>
                            <td style="padding-left:5px; padding-top:5px;">
                                Add them to {{ k.community_profiles[global.location.id].name }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" style="float:left" class="finish btn-success btn" ng-class="{'disabled' : disabled}" value="Send Invitation" /><div style="padding-top: 6px; margin-bottom: -24px;" ng-show="global.loaders['sendinvite']" loading-bars></div>
                </form>
            </div>
        </div>
        <div alert-box this-alert="invite.alert"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close();$state.reload();">Close</button>
    </div>
</div>

