<div class="hpanel hgreen" style="margin-bottom: 10px;">
    <div class="panel-body hero" style="padding: 10px 0;">
        <div style="padding: 20px 15px;">
            <header class="heading content" style="color:#fff">
                <button ng-if="nav.location_path == nav.user.key" ui-sref="welcome({location: nav.location, location_path: nav.location.key, go: 'welcome.roles'})" class="btn btn-default pull-right" style="margin-left:-100px;">Edit Profile</button>
                <img class="img-circle m-b" style="height:100px;" ng-src="{{profile.user.profile.avatar || profile.user.profile.linkedin.pictureUrl || '/public/images/blank_avatar.png'}}" alt="{{::profile.user.profile.name}}" onerror="this.src='/public/images/blank_avatar.png'">
                <div style="margin-top: -12px;">
                    <span ng-repeat="(item, val) in profile.user.roles" class="user-role" style="font-size: 24px;"><i ng-attr-title="{{item[0].toUpperCase() + item.slice(1);}}" ng-class="{'pe-7s-paper-plane' : item == 'founder', 'pe-7s-flag' : item == 'leader', 'pe-7s-study' : item == 'mentor', 'pe-7s-gleam' : item == 'investor', 'pe-7s-ball' : item == 'team', 'pe-7s-portfolio' : item == 'provider'}"></i></span>
                </div>
                <h1>
                    {{profile.user.profile.headline || profile.user.profile.linkedin.headline}}
                </h1>
                <h3 style="padding-top: 5px;" style="line-height: 1.5;">
                    My name is <span class="name">{{::profile.user.profile.name | words:0}} {{::profile.user.profile.name |
                    words:1}}</span>, <span ng-bind-html="(profile.user.profile.summary || profile.user.profile.linkedin.headline) | sentence | linky:'_blank'"></span>
                </h3>
                <a ng-click="profile.ask()" class="btn btn-success btn-sm">Ask me a question</a>
                <div style="padding-top:10px; overflow: hidden; height: 50px; margin-bottom: -10px;">
                    <li ng-repeat="skill in profile.user.profile.skills" style="margin-right: 5px;" class="btn btn-outline btn-default btn-xs" ui-sref="search.dashboard({location_path: nav.location.key, community: nav.location, query: skill})">
                        {{::skill}}
                    </li>
                </div>
            </header>
        </div>
        <span><div id="cover-photo" class="active" ng-style="{'background-image':profile.background_image}"></div><span class="cover-overlay"></span></span>
    </div>
</div>
<div class="hpanel">
    <div class="panel-body content-tab-wrapper">

        <!-- BEGIN Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li id="ask_li" class="active"><a href="#ask" aria-controls="ask" role="tab" data-toggle="tab" aria-expanded="true"><span class="pe-7s-micro"></span>Ask a Question</a></li>
            <li id="profile_li" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="pe-7s-note2"></span>View Full Profile</a></li>
        </ul>
        <!--/ END Nav tabs -->

        <div alert-box this-alert="profile.alert"></div>

        <!-- BEGIN Tab panes -->
        <div class="tab-content" style="position: static; padding: 30px;">

            <div role="tabpanel" class="tab-pane active" id="ask">

                <div ng-include="'components/users/user.dashboard.ask.html'"></div>

            </div> <!-- First Tab Pane -->

            <div role="tabpanel" class="tab-pane" id="profile">

                <div ng-include="'components/users/user.dashboard.profile.html'"></div>

            </div> <!-- Second Tab Pane -->

        </div>
        <!--/ END Tab panes -->

    </div>
</div>