<div>
    <div class="row">
        <div ng-if="!$state.includes('search.*') && !nav.embedded" class="col-lg-2 col-md-3 col-sm-4">
        <!-- Navigation Block -->
            <div class="hpanel hgreen">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Role</strong> Filters
                    <div loading-bars ng-show="users.loadingRole" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">

                    <ul class="panel-list" style="white-space: nowrap; overflow: hidden;">
                        <li ng-class="{'active':users.selectedRole.indexOf('*') >= 0}" ng-click="users.filterRole('*')">
                            <a><i class="fa fa-fw fa-globe themed-color-dark"></i> All</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-class="{'active':users.selectedRole.indexOf('founder') >= 0}" ng-click="users.filterRole('founder')">
                            <a>
                                <i class="pe-7s-paper-plane text-primary"></i> Founders
                            </a>
                        </li>
                        <li ng-class="{'active':users.selectedRole.indexOf('leader') >= 0}" ng-click="users.filterRole('leader')">
                            <a>
                                <i class="text-danger pe-7s-flag"></i> Leaders
                            </a>
                        </li>
                        <li ng-class="{'active':users.selectedRole.indexOf('mentor') >= 0}" ng-click="users.filterRole('mentor')">
                            <a>
                                <i class="text-info pe-7s-study"></i> Mentors
                            </a>
                        </li>
                        <li ng-class="{'active':users.selectedRole.indexOf('investor') >= 0}" ng-click="users.filterRole('investor')">
                            <a>
                                <i class="text-success pe-7s-gleam"></i> Investors
                            </a>
                        </li>
                        <li ng-class="{'active':users.selectedRole.indexOf('team') >= 0}" ng-click="users.filterRole('team')">
                            <a>
                                <i class="text-default pe-7s-ball"></i> Teams
                            </a>
                        </li>
                        <li ng-class="{'active':users.selectedRole.indexOf('provider') >= 0}" ng-click="users.filterRole('provider')">
                            <a>
                                <i class="text-warning pe-7s-portfolio"></i> Providers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hpanel hnavyblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Industry</strong> Filters
                    <div loading-bars ng-show="users.loadingCluster" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-if="users.community.type !== 'cluster'" ng-init="users.allClusters=true" ng-class="{'active':users.allClusters}" ng-click="users.loadingCluster=true; users.allClusters=true; users.filterClusters();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <li ng-if="users.community.type == 'cluster'" class="active">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> {{users.community.profile.name}}</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-if="users.community.type !== 'cluster'" ng-repeat="cluster in nav.top.parents" ng-class="{'active':users.selectedClusters.indexOf(cluster.label) >= 0}" ng-click="users.loadingCluster=true;  users.allClusters=false; users.filterClusters(cluster.label);">
                            <a>{{cluster.label[0].toUpperCase() + cluster.label.slice(1)}}</a>
                        </li>

                    </ul>
                </div>
            </div>

            <!--<div class="hpanel hblue">
                <div class="panel-footer top" style="font-size: 17px;">
                    <strong>Network</strong> Filters
                    <div loading-bars ng-show="users.loadingNetwork" style="display: inline;"></div>
                </div>
                <div class="panel-body filternav">
                    <ul class="panel-list">
                        <li ng-init="users.allNetworks=true" ng-class="{'active':users.allNetworks}" ng-click="users.loadingNetwork=true; users.allNetworks=true; users.filterNetworks();">
                            <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> All</a>
                        </li>
                        <hr style="margin: 10px 0 10px 0;">
                        <li ng-repeat="network in nav.networks" ng-class="{'active':users.selectedNetworks.indexOf(network.key) >= 0}" ng-click="users.allNetworks=false; users.filterNetworks(network.key);">
                            <a>{{network.profile.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>-->

        </div>



    <div ng-class="{'col-lg-10 col-md-9 col-sm-8' : !$state.includes('search.*') && !nav.embedded}" style="padding-left: 15px; padding-right: 15px;">

        <div class="hpanel">
            <div class="panel-footer top">
                <div ng-show="!users.tag" class="pull-right">
                    <strong>{{users.users.start}} - {{users.users.end}}</strong> of <strong>{{users.users.total_count}}&nbsp;&nbsp;</strong>
                    <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                        <span ng-if="users.users.prev"><a ng-click="users.searchUsers(users.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                        <span ng-if="users.users.next"><a ng-click="users.searchUsers(users.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
                <!--
                <div class="pull-right" style="margin-right: 25px; min-width: 175px;">
                    <ui-select multiple ng-model="users.skills.selected" theme="bootstrap" ng-disabled="disabled" limit="3">
                        <ui-select-match placeholder="Search by skill.." class="skill-input">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="skill in users.skills.list | filter:$select.search | limitTo: 5">
                            {{skill}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                -->
                <span style="font-size: 17px;" ng-bind-html="users.title"></span>
                <span><i ng-show="users.loadingUser" class="fa fa-refresh fa-spin" style="padding: 4px; color: #aaa; font-size: 17px; margin-left: 5px;"></i></span>
            </div>

            <div class="panel-body content">
                <div class="row">
                    <td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td>
                </div>
                <div ng-show="users.tag" style="text-align: center;" ng-cloak><h2><br/>Searching for {{users.tag}}..</h2><br/><br/></div>
                <div ng-show="users.users.results.length == 0" style="text-align: center;" ng-cloak><h2><br/>Nothing here!</h2><br/><br/></div>
                <div ng-repeat="item in users.users.results" ng-switch on="$index % 2">
                    <div class="col-md-6" ng-switch-when="0">
                        <div class="row"  ng-include="'components/users/user.list.item.html'"></div>
                    </div>
                    <div class="col-md-6" ng-switch-when="1">
                        <div class="row"  ng-include="'components/users/user.list.item.html'"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="height:45px;">
                <div ng-show="!users.tag" class="pull-right">
                    <strong>{{users.users.start}} - {{users.users.end}}</strong> of <strong>{{users.users.total_count}}&nbsp;&nbsp;</strong>
                    <div class="btn-group btn-group-sm" style="margin-top: -2px;">
                        <span ng-if="users.users.prev"><a ng-click="users.searchUsers(users.users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                        <span ng-if="users.users.next"><a ng-click="users.searchUsers(users.users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>