<div>

    <div class="row">
        <div class="col-md-4">
            <div class="hpanel hblue" >
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-8">
                        <div class="stats-title pull-left">
                            <a ui-sref="{{'user.list' + nav.nav_url}}">
                                <h3>People</h3>
                                <h1 class="text-info">{{dashboard.top.people.total}}</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-id fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="background: #fff;">
                    <div ng-repeat="item in dashboard.top.people.results | limitTo: 5">
                        <div style="margin-right: -2px; margin-bottom:-5px;">
                            <div ng-if="$first" style="padding-top:5px;"></div>
                            <div class="row" ng-include="'components/users/user.list.item.html'"></div>
                            <div ng-if="$last" style="margin-bottom:-32px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel" style="border-top: 2px solid #34495E;">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-8">
                        <div class="stats-title">
                            <a ui-sref="{{'company.list' + nav.nav_url}}">
                                <h3>Companies</h3>
                                <h1 style="color:#34495E;">{{dashboard.top.companies.total}}</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-power fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="background: #fff;">
                    <div ng-repeat="item in dashboard.top.companies.results | limitTo: 5">
                        <div style="margin-right: -2px; margin-bottom:-5px;">
                            <div ng-if="$first" style="padding-top:5px;"></div>
                            <div class="row" ng-include="'components/companies/company.list.item.html'"></div>
                            <div ng-if="$last" style="margin-bottom:-32px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel hgreen">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-8">
                        <div class="stats-title">
                            <h3>Top Skills</h3>
                            <h1 class="text-success">{{dashboard.top.skills.total}}</h1>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-medal fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="background: #fff; padding-bottom: 8px;">
                    <div ng-repeat="item in dashboard.top.skills.top | limitTo: 10">
                        <a ui-sref="search.dashboard({location_path: dashboard.location_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4></a>
                        <progressbar ng-attr-value="item.count/dashboard.top.skills.total" type="success" class="progress-small full"></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                    <h3>Top Industries</h3>
                </div>

                <div class="row" ng-repeat="item in dashboard.top.companies.top | limitTo: 10">
                    <div class="col-xs-10 forum-heading">
                        <a ui-sref="search.dashboard({location_path: dashboard.location_path, query: item.value})"><h4 style="font-weight: 200;">{{item.value}}</h4></a>
                        <progressbar ng-attr-value="item.count/dashboard.top.skills.total" type="success" class="progress-small full"></progressbar>
                    </div>
                    <div class="col-xs-2 forum-info">
                            <span class="number">{{item.count}}</span>
                            <small>{{item.count == 1 ? 'Company' : 'Companies'}}</small>
                    </div>
                </div>

                <!--
                <div class="panel-body" ng-repeat="industry in dashboard.top.companies.top | limitTo: 5">
                    <div class="row" ng-if="dashboard.communities[industry.value]">
                        <div class="col-xs-10 forum-heading">

                            <a ui-sref="industry.dashboard({community_path: dashboard.communities[industry.value].key, community: dashboard.communities[industry.value], query: '*'})">
                            <span ng-if="dashboard.communities[industry.value].community_profiles[dashboard.location_path]">
                                <h4><i ng-class="'fa ' + dashboard.communities[industry.value].community_profiles[dashboard.location_path].icon"></i> {{dashboard.communities[industry.value].community_profiles[dashboard.location_path].name}}</h4>
                            <div class="desc" style="margin-bottom:5px;">{{dashboard.communities[industry.value].community_profiles[dashboard.location_path].headline}}</div>
                            </span>
                            <span ng-if="!dashboard.communities[industry.value].community_profiles[dashboard.location_path]">
                                <h4><i ng-class="'fa ' + dashboard.communities[industry.value].profile.icon"></i> {{dashboard.communities[industry.value].profile.name}}</h4>
                            <div class="desc" style="margin-top: 4px;">{{dashboard.communities[industry.value].profile.headline}}</div>
                            </span>
                            </a>
                        </div>
                        <div class="col-xs-2 forum-info">
                            <a ui-sref="company.list({community_path: dashboard.communities[industry.value].key, community: dashboard.communities[industry.value]})">
                                <span class="number">{{industry.count}}</span>
                                <small>{{industry.count == 1 ? 'Company' : 'Companies'}}</small>
                            </a>
                        </div>
                    </div>
                </div>
                -->

            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #3498DB;">
                    <h3>Top Networks</h3>
                </div>

                <div class="panel-body" ng-repeat="network in dashboard.top.people.top | limitTo: 5" ng-if="dashboard.communities[network.value]">
                    <div class="row">
                        <div class="col-xs-10 forum-heading">

                            <a ui-sref="network.dashboard({community_path: dashboard.communities[network.value].key, community: dashboard.communities[network.value], query: '*'})">
                            <span ng-if="dashboard.communities[network.value].community_profiles[dashboard.location_path]">
                                <h4><i ng-class="'fa ' + dashboard.communities[network.value].community_profiles[dashboard.location_path].icon"></i> {{dashboard.communities[network.value].community_profiles[dashboard.location_path].name}}</h4>
                            <div class="desc" style="margin-bottom:5px;">{{dashboard.communities[network.value].community_profiles[dashboard.location_path].headline}}</div>
                            </span>
                            <span ng-if="!dashboard.communities[network.value].community_profiles[dashboard.location_path]">
                                <h4><i ng-class="'fa ' + dashboard.communities[network.value].profile.icon"></i> {{dashboard.communities[network.value].profile.name}}</h4>
                            <div class="desc" style="margin-top: 4px;">{{dashboard.communities[network.value].profile.headline}}</div>
                            </span>
                            </a>
                        </div>
                        <div class="col-xs-2 forum-info">
                            <a ui-sref="user.list({community_path: dashboard.communities[network.value].key, community: dashboard.communities[network.value]})">
                                <span class="number">{{network.count}}</span>
                                <small>{{network.count == 1 ? 'Person' : 'People'}}</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
