<iframe ng-if="!news.ie" srcdoc="{{news.frame_content}}" name="newsletter_frame" id="framed_newsletter" style="border: none; margin-top: 30px; height: 1500px; width: 100%;"></iframe>
<div ng-if="news.ie">
    Please login with username: <strong>{{news.user.newsletter.username}}</strong> and password: <strong>{{news.user.newsletter.password}}</strong> (or using a non-IE browser will fix this)
    <iframe src="https://newsletter.startupcommunity.org" style="border: none; margin-top: 10px; height: 1500px; width: 100%;"></iframe>
</div>
