<div id="error-container" ng-controller="ErrorPageController">
    <div class="error-options" style="margin-left: 30px; margin-top: 20px; float: left;">
        <p style="font-size: 1.5em;"><i class="fa fa-chevron-circle-left text-muted"></i> <a ng-click="goBack()">Go back</a></p>
    </div>
    <div class="error-options" style="margin-right: 30px; margin-top: 20px; float: right;">
        <p style="font-size: 1.5em;"><a href="/">Login</a> <i style="font-size: .9em;" class="fa fa-chevron-circle-right text-muted"></i></p>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p style="font-size: 8em;"><i style="font-size: .9em;" class="fa fa-exclamation-triangle text-info animation-pulse"></i> 404</p>
            <p style="font-size: 2em;">Sorry, we couldn't find that page. Perhaps try searching instead?</p>
            <form ng-submit="search(searchQuery)">
                <input type="text" ng-model="searchQuery" class="form-control input-lg" placeholder="Search StartupCommunity.org...">
            </form>
            <div ng-show="global.alert" style="margin-top: 15px;">
				<alert type="{{global.alert.type}}" style="margin: 2px;" close="closeAlert($index)"><span ng-bind-html="global.alert.msg | safe_html"></alert>
			</div>
        </div>
    </div>
</div>
