<div ng-controller="AddPeopleController">       
        
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i ng-class="{'fa fa-circle-o-notch fa-spin' : disabled, 'fa fa-leaf' : !disabled}"></i>Add People<br><small>This works best with the URL from the person's Linkedin profile.</small>
            </h1>
        </div>
    </div>              
    <div class="panel-boxed">
    	<form ng-submit='addPerson(formData.url, formData.email, global.user.value.linkedin.id)' data-wizard="{finishButton: true, titleClick: false, block: true, validate: true, legend: false }" class="form-horizontal">
    		<fieldset title="Contact Info">
    			<legend></legend>
    			<div class="form-group">
    				<label for="fieldemail" class="col-md-3 control-label">Email</label>
    				<div class="col-md-6"><input id="fieldemail" class="form-control" type="email" name="email" ng-model="formData.email" placeholder="Email Address" required></div>
    			</div>
    			<div class="form-group">
    				<label for="fieldurl" class="col-md-3 control-label">Linkedin URL</label>
    				<div class="col-md-6"><input id="fieldurl" class="form-control"  type="url" name="url" ng-model="formData.url" placeholder="http://www.linkedin.com/in/bfeld" required></div>
    			</div>
    		</fieldset>    		
    		
    		<input type="submit" style="float:right" class="finish btn-success btn" ng-class="{'disabled' : disabled}" value="Submit" />
    	</form>
    </div>
	
</div>