<div class="verticalcenter" ng-controller="SignupPageController">
	<a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" style="margin-bottom: -30px;"/>
	<h4 class="text-center" style="margin-bottom: 20px; color: #5A5A5A;">Kickstart your city's entrepreneurial ecosystem</h4></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Sign up to be notified when we launch!</h4>
				<form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="text" class="form-control" id="email" placeholder="Email">
								</div>
							</div>
						</div>
					</form>
					
		</div>
		<div class="panel-footer">
			<div class="pull-right">
				<a href="#" class="btn btn-success">Sign up</a>
			</div>
		</div>
	</div>
</div>