<div ng-controller="PeopleController">
<!-- Dashboard Header -->
<!-- For an image header add the class 'content-header-media' and an image as in the following example -->
    <div class="content-header content-header-media beta0">
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1><strong>{{global.city.value.citystate | words:0}}</strong> {{global.city.value.citystate | words:1}}<br><small>Welcome {{global.user.value.name | words:0}}!</small></h1>
                </div>
                <!-- END Main Title -->
    
                <!-- Top Stats -->
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">                     
                        <div class="col-xs-4 col-sm-3"></div>
                        <div class="col-xs-4 col-sm-3"></div>
                        <div class="col-xs-4 col-sm-3"></div>
                        <div class="col-xs-4 col-sm-3">
                            <h2>
                                <strong style="color: white;">{{users.total_count}}</strong><br>
                                <small><i class="fa fa-leaf"></i> People</small>
                            </h2>
                        </div>
                        
                    </div>
                </div>
                <!-- END Top Stats -->
            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="assets/img/headers/widget5_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>
        <!-- END Dashboard Header -->
        
    <div class="col-md-4 col-lg-3">
        <!-- Navigation Block -->
        <div class="block full filternav">
            <i ng-show="loadingRole==true" class="fa fa-refresh fa-spin pull-right"></i>
            <div class="block-title beta3">
                <h2><strong>Role</strong> Filters</h2>
            </div>
            <ul class="nav nav-pills nav-stacked nav-icons">
                <li ng-class="{'active':selectedRole.indexOf('*') >= 0}" ng-click="filterRole('*')">
                    <a href="javascript:void(0)">
                        <i class="fa fa-fw fa-globe themed-color-dark"></i> <strong>All</strong>
                    </a>
                </li>
                <li ng-class="{'active':selectedRole.indexOf('Leader') >= 0}" ng-click="filterRole('Leader')">
                    <a href="javascript:void(0)">
                        <i class="fa fa-flag text-danger"></i> <strong>Leaders</strong>
                    </a>
                </li>
                <li ng-class="{'active':selectedRole.indexOf('Advisor') >= 0}" ng-click="filterRole('Advisor')">
                    <a href="javascript:void(0)">
                        <i class="fa fa-graduation-cap text-info"></i> <strong>Advisors</strong>
                    </a>
                </li>
                <li ng-class="{'active':selectedRole.indexOf('Member') >= 0}" ng-click="filterRole('Member')">
                    <a href="javascript:void(0)">
                        <i class="fa fa-leaf text-success"></i> <strong>Members</strong>
                    </a>
                </li>
            </ul>
            <!-- END Filter by Type links -->
        </div>
        <!-- END Navigation Block -->  
    
        <!-- Navigation Block -->
        <div class="block full filternav">
            <i ng-show="loadingCluster==true" class="fa fa-refresh fa-spin pull-right"></i>
            <div class="block-title">
                <h2><strong>Cluster</strong> Filters</h2>
            </div>
            <ul class="nav nav-pills nav-stacked nav-icons">
                <li ng-class="{'active':global.city.selectedCluster.indexOf('*') >= 0}" ng-click="filterCluster('*');">
                    <a><i class="fa fa-fw fa-globe themed-color-dark icon-push"></i> <strong>All</strong></a>
                </li>
                <li ng-repeat="(cluster, val) in global.city.value.clusters" ng-class="{'active':global.city.selectedCluster.indexOf(cluster) >= 0}" ng-click="filterCluster(cluster);">
                    <a><i class="fa {{val.icon}}"></i> <strong>{{cluster}}</strong></a>
                </li>
            </ul>
            <!-- END Filter by Type links -->
        </div>
        <!-- END Navigation Block -->    
    </div>
    <div class="col-md-8 col-lg-9">
    <!-- Messages List Block -->
        <div class="block">
            <!-- Messages List Title -->
            <div class="block-title" style="margin-bottom: 0;">
                <div class="block-options pull-right">
                        <strong>{{users.start}} - {{users.end}}</strong> of <strong>{{users.total_count}}&nbsp;&nbsp;</strong>
                    <div class="btn-group btn-group-sm" style="margin-top: -5px;">
                        <span ng-if="users.prev"><a ng-click="getUsers(users.prev)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-left"></i></a></span>
                        <span ng-if="users.next"><a ng-click="getUsers(users.next)" class="btn btn-sm btn-default" style="background-color: #fff;"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
                <h2 ng-bind-html="title"></h2>
            </div>
            <!-- END Messages List Title -->
    
            <!-- Messages List Content -->
            <div class="table-responsive" style="margin: 0 -10px;">
                <table class="table table-vcenter">                
                    <tbody>
                        <tr><td style="border-bottom: 1px solid #fff; border-top: none; padding: 0;" colspan="3"></td></tr>
                        <div ng-show="global.search.tag" style="text-align: center" ng-cloak><h2><br/>Searching for {{global.search.tag}}..</h2></div>
                        <tr ng-repeat="item in users.results" ng-include="'views/templates/people_renderer.html'"></tr>                        
                        <tr>
                            <td class="text-right" colspan="3">
                                <strong>{{users.start}} - {{users.end}}</strong> of <strong>{{users.total_count}}&nbsp;&nbsp;</strong>
                                <div class="btn-group btn-group-sm">
                                    <span ng-if="users.prev"><a ng-click="getUsers(users.prev)" class="btn btn-sm btn-default" style="border-radius: 15px;"><i class="fa fa-angle-left"></i></a></span>
                                    <span ng-if="users.next"><a ng-click="getUsers(users.next)" class="btn btn-sm btn-default" style="border-radius: 15px;"><i class="fa fa-angle-right"></i></a></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END Messages List Content -->
        </div>
        <!-- END Messages List Block -->
    </div>
</div>
<!-- END Messages List -->