
<!-- Dashboard Header -->
<!-- For an image header add the class 'content-header-media' and an image as in the following example -->
<div class="content-header content-header-media">
    <div class="header-section">
        <div class="row">
            <!-- Main Title (hidden on small devices for the statistics to fit) -->
            <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                <h1><strong>Bend</strong>, Oregon<br><small>Welcome {{user.name | words:0}}!</small></h1>
            </div>
            <!-- END Main Title -->

            <!-- Top Stats -->
            <div class="col-md-8 col-lg-6">
                <div class="row text-center">                     
                    <div class="col-xs-4 col-sm-3"></div>
                    <div class="col-xs-4 col-sm-3"></div>
                    <div class="col-xs-4 col-sm-3"></div>
                    <div class="col-xs-4 col-sm-3">
                        <h2>
                            <strong>{{users.count}}</strong><br>
                            <small><i class="fa fa-graduation-cap"></i> Mentors</small>
                        </h2>
                    </div>
                    
                </div>
            </div>
            <!-- END Top Stats -->
        </div>
    </div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
    <img src="assets/demo/images/headers/widget5_header.jpg" alt="header image" class="animation-pulseSlow">
</div>
    <!-- END Dashboard Header -->
   
    <!-- Social Widgets Header
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-share"></i>Social Widgets<br><small>Awesome &amp; colorful social widgets!</small>
            </h1>
        </div>
    </div>
    <!-- END Social Widgets Header -->
<div id="userlist">          
    <div class="row" style="margin-left: 10px; margin-right: 10px;">            
        <div class="col-sm-6 col-lg-3" ng-repeat="item in users.results" ng-include="'views/templates/user_renderer.html'">                  
        </div>   
    </div> 
</div>