	<div ng-controller="ProfileController">
		
		<div class="content-header">
            <div class="header-section">
                <div class="options">
		            <div class="btn-toolbar pull-right">		            	
		            	<a ng-click="global.editProfile = !global.editProfile" ng-class="{'active' : global.editProfile}" class="btn btn-alt btn-primary">Edit Profile</a>	                        
                    </div>	                   
		        </div>
                
                <img ng-src="{{global.profile.value.avatar || global.profile.value.linkedin.pictureUrl || '/public/blank_avatar.png'}}" alt="{{::global.profile.value.name}}" class="pull-left img-circle" style="margin-right: 15px;">
                <h1>{{::global.profile.value.name | words:0}} {{::global.profile.value.name | words:1}} {{::global.profile.value.name | words:2}}<br>
                <small>{{::global.profile.value.linkedin.headline}}</small></h1>               
		        
            </div>
        </div>
	
		
		<div class="container-fluid">	
			
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-gray">
						<div class="panel-body">
						
											
							<div class="row">
							
								<div class="col-md-6">									
									<div class="table-responsive">
										<table class="table table-condensed">
											<h3>Contact Info</h3>
											
											<tbody>											
												<tr>
													<td>Web</td>
													<td><a href="{{global.profile.value.linkedin.publicProfileUrl}}" target="_blank">{{global.profile.value.linkedin.publicProfileUrl}}</a></td>
												</tr>
												<tr ng-if="global.profile.value.email">
													<td>Email</td>
													<td>{{global.profile.value.email}}</td>
												</tr>
												<tr ng-if="global.profile.value.phone_numbers">
													<td>Phone</td>
													<td>{{global.profile.value.phone_numbers}}</td>
												</tr>												
												<tr>
													<td>Social</td>
													<td>
														<a href="#" class="btn btn-social btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
														<a href="{{global.profile.value.linkedin.publicProfileUrl}}" class="btn btn-social btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
													</td>
												</tr>
												<tr ng-if="global.profile.path.key === global.user.path.key">
													<td>API Key</td>
													<td><a ng-click="getKey()">Show your API key</a></td>
												</tr>
											</tbody>
										</table>
										<a  ng-show="global.editProfile && (global.user.value.cities[global.city.path.key].admin === true)" ng-click="removeProfile(global.profile.path.key, global.profile.value.name)" class="btn btn-alt btn-danger"><i class="fa fa-times"></i> Delete {{::global.profile.value.name | words:0}} {{::global.profile.value.name | words:1}} {{::global.profile.value.name | words:2}}</a>                       
									</div>
								</div>
								<div class="col-md-6">									
				                    <panel panel-class="panel-primary">			                    					                    	
				                          <table class="table table-condensed" style="margin-bottom: -19px;">											
											<tbody>
												<tr><td style="padding: 0; border-top: none;">
													<h3>Cluster Activity</h3>
												</td><td style="padding: 0; border-top: none;">
												<div class="checkbox" style="float: right; margin-top: 0px;">
							                      <label class="icheck-label" ng-show="global.editProfile">
							                      I advise all clusters&nbsp;
							                        <div style="position: relative;" class="icheckbox_minimal-blue"><input style="position: absolute; opacity: 0;" ng-change="isCityAdvisor(global.profile.value.cities[global.city.path.key].cityAdvisor)" ng-model="global.profile.value.cities[global.city.path.key].cityAdvisor" icheck="" value="" type="checkbox"></div>
							                      </label>
							                    </div>
							                    </td></tr>
					                            <tr ng-repeat="(cluster, val) in global.city.value.clusters" style="border-top: 1px solid #e9ecf0;">
					                              <td style="border: none; padding: 8px 0 8px 0; width: 50%;">				                                					                                
					                                  <h4><i class="fa {{val.icon}}" style="opacity: .6">&nbsp;</i> <strong>{{ cluster || 'empty' }}</strong> Cluster</h4>					                                
					                              </td>
					                              <td style="text-align: center; width: 50%;" ng-hide="global.editProfile">
					                              	<ul style="padding-left:0px;">
					                              		<span ng-if="((global.profile.value.cities[global.city.path.key].clusters[cluster] === undefined) || (global.profile.value.cities[global.city.path.key].clusters[cluster].roles === undefined) || (global.profile.value.cities[global.city.path.key].clusters[cluster].roles.length == 0)) && (global.profile.value.cities[global.city.path.key].cityAdvisor == (false || undefined))" class="btn btn-xs btn-default" style="margin-top: 10px; float: right; cursor: default;">Inactive</span>
					                              		<span ng-if="global.profile.value.cities[global.city.path.key].cityAdvisor === true" class="btn btn-xs btn-info" style="margin-top: 10px; float: right; cursor: default;">Advisor</span>
					                              		<li ng-if="global.profile.value.cities[global.city.path.key].cityAdvisor !== true" ng-repeat="role in global.profile.value.cities[global.city.path.key].clusters[cluster].roles | orderBy : role : true" style="list-style: none;">					                              			
					                              			<span ng-class="{'btn btn-xs btn-info' : role == 'Advisor', 'btn btn-xs btn-success' : role == 'Member', 'btn btn-xs btn-danger' : role == 'Leader'}" style="margin-top: 10px; margin-left: 10px; float: right; cursor: default;">{{ role }}</span>
					                              		</li>
					                              	</ul>
					                              </td>
					                              <td style="text-align: center; border: none; padding: 15px 0 15px 0; width: 50%;" ng-show="global.editProfile">
								                    <div class="col-md-4">
								                        <label class="control-label" style="display: block; margin-bottom: -5px;"><h5>Leader</h5></label>
								                        <toggle-switch ng-init="global.profile.value.cities[global.city.path.key].clusters[cluster].leaderStatus = (global.profile.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Leader') >= 0)" ng-model="global.profile.value.cities[global.city.path.key].clusters[cluster].leaderStatus" ng-click="setRole(cluster, 'Leader', global.profile.value.cities[global.city.path.key].clusters[cluster].leaderStatus)" class="small-toggle danger" on-label="Yes" off-label="No" ng-disabled="(global.profile.value.cities[global.city.path.key].cityAdvisor == true) || ((global.user.value.cities[global.city.path.key].admin !== true) && (global.user.value.cities[global.city.path.key].clusters[cluster] === undefined || global.user.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Leader') < 0))"><toggle-switch>							
								                    </div>
								                    <div class="col-md-4">
								                        <label class="control-label" style="display: block; margin-bottom: -5px;"><h5>Advisor</h5></label>
								                        <toggle-switch ng-init="global.profile.value.cities[global.city.path.key].clusters[cluster].advisorStatus = ((global.profile.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Advisor') >= 0) || global.profile.value.cities[global.city.path.key].cityAdvisor == true)" ng-model="global.profile.value.cities[global.city.path.key].clusters[cluster].advisorStatus" ng-click="setRole(cluster, 'Advisor', global.profile.value.cities[global.city.path.key].clusters[cluster].advisorStatus)" class="info" on-label="Yes" off-label="No" style="line-height: 15px; min-width: 80px;" ng-disabled="(global.profile.value.cities[global.city.path.key].cityAdvisor == true) || ((global.user.value.cities[global.city.path.key].admin !== true) && (global.user.value.cities[global.city.path.key].clusters[cluster] === undefined || global.user.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Leader') < 0))"><toggle-switch>							
								                    </div>
								                    <div class="col-md-4">
								                        <label class="control-label" style="display: block; margin-bottom: -5px;"><h5>Member</h5></label>
								                        <toggle-switch ng-init="global.profile.value.cities[global.city.path.key].clusters[cluster].memberStatus = (global.profile.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Member') >= 0)" ng-model="global.profile.value.cities[global.city.path.key].clusters[cluster].memberStatus" ng-click="setRole(cluster, 'Member', global.profile.value.cities[global.city.path.key].clusters[cluster].memberStatus)" class="success" on-label="Yes" off-label="No" style="line-height: 15px !important; min-width: 80px;" ng-disabled="(global.user.value.cities[global.city.path.key].admin !== true) && (global.profile.path.key !== global.user.path.key) && ((global.user.value.cities[global.city.path.key].clusters[cluster] === undefined) || (global.user.value.cities[global.city.path.key].clusters[cluster].roles.indexOf('Leader') < 0))"><toggle-switch>							
								                    </div>
					                              </td>	                             				                              
					                            </tr>
				                            </tbody>
				                          </table>
				                    </panel>
				                </div>
								
								
							</div>
							<hr>
							<div class="col-md-12">
									<h3>Summary</h3>
									<p style="white-space:pre-wrap;">{{global.profile.value.linkedin.summary}}</p>
								</div>
						</div>
					</div>
				</div>
			</div>
			


		</div> <!-- container -->
	</div>