<div>
    <div class="row">
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                    <h3>Top Industries</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-code"></i> Tech</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Software and hardware products and services.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">29</span>
                            <small>Companies</small>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-tree"></i> Outdoor</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Products powered by gravity or human strength.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">9</span>
                            <small>Companies</small>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-flask"></i> Bio-Science</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Products that leverage biological and pharmaceutical innovations.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">6</span>
                            <small>Companies</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #3498DB;">
                    <h3>Top Networks</h3>
                </div>

                <div class="panel-body" style="height: 83px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-primary pull-left">Mentor Group</span>
                            <a ui-sref="#"><h4> Stable of Experts</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Economic Development for Central Oregon (EDCO) list of qualfied startup mentors.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">134</span>
                            <small>People</small>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="height: 83px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-success pull-left">Accelerator</span>
                            <a ui-sref="#"><h4> FoundersPad</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Regional accelerator for software companies.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">18</span>
                            <small>People</small>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="height: 84px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-warning pull-left">Coworking</span>
                            <a ui-sref="#"><h4> BendTECH</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Coworking space for tech companies.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">10</span>
                            <small>People</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="hpanel hblue" >
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>People</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-info">184</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="loc.charts.people.data" labels="loc.charts.people.labels" series="loc.charts.people.series" colours="loc.charts.people.colors" options="loc.charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-id fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel hgreen">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>Companies</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">79</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="loc.charts.companies.data"
                                labels="loc.charts.companies.labels" series="loc.charts.companies.series" colours="loc.charts.companies.colors" options="loc.charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-power fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-6 border-right border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Tech</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-code" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">167</h3>
                            </div>
                        </div>
                        <div class="col-md-6 border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Outdoor</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-tree" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">71</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 border-right" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Bio-Science</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-flask" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">82</h3>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Med-Tech</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-medkit" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">63</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel hred">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>Skills</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-danger">325</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="loc.charts.jobs.data"
                                labels="loc.charts.jobs.labels" series="loc.charts.jobs.series" colours="loc.charts.jobs.colors" options="loc.charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-network fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
