<div>

    <div class="row">
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #34495E;">
                    <h3>Top Clusters</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-code"></i> Tech</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Software and hardware products and services.</div>
                            <progressbar value="85" type="success" class="progress-small full"></progressbar>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">58</span>
                            <small>People</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">29</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">167</span>
                            <small>Jobs</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(3, 7) | limitTo: 3" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-tree"></i> Outdoor</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Products powered by gravity or human strength.</div>
                            <progressbar value="62" type="warning" class="progress-small full"></progressbar>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">32</span>
                            <small>People</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">9</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">74</span>
                            <small>Jobs</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(11, 15) | limitTo: 3" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 forum-heading">

                            <a ui-sref="#"><h4><i class="fa fa-flask"></i> Bio-Science</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Products that leverage biological and pharmaceutical innovations.</div>
                            <progressbar value="51" type="warning" class="progress-small full"></progressbar>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">25</span>
                            <small>People</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">6</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">74</span>
                            <small>Jobs</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(7, 11) | limitTo: 2" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel forum-box">

                <div class="panel-heading" style="border-bottom: 2px solid #3498DB;">
                    <h3>Top Networks</h3>
                </div>

                <div class="panel-body" style="height: 83px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-primary pull-left">Advisor Group</span>
                            <a ui-sref="#"><h4> Stable of Experts</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Economic Development for Central Oregon (EDCO) list of qualfied startup advisors.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">134</span>
                            <small>Advisors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">22</span>
                            <small>Investors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">0</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(15, 18) | limitTo: 2" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="height: 83px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-success pull-left">Accelerator</span>
                            <a ui-sref="#"><h4> FoundersPad</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Regional accelerator for software startups.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">18</span>
                            <small>Advisors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">12</span>
                            <small>Investors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">9</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(18, 21) | limitTo: 2" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="height: 84px;">
                    <div class="row">
                        <div class="col-md-7 forum-heading" style="padding-top: 5px;">
                            <span class="label label-warning pull-left">Coworking</span>
                            <a ui-sref="#"><h4> BendTECH</h4></a>
                            <div class="desc" style="margin-bottom:5px;">Coworking space for tech companies.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">10</span>
                            <small>Advisors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">2</span>
                            <small>Investors</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number">25</span>
                            <small>Startups</small>
                        </div>
                        <div class="col-md-2 project-people">
                            <p class="profile-label font-uppercase" style="font-size: 13px;  padding-top: 3px; margin-bottom: 7px;">Leaders</p>
                            <img ng-repeat="leader in leaders.slice(25, 28) | limitTo: 3" title="{{leader.value.profile.name}}" class="img-circle" src="{{leader.value.profile.avatar || 'images/blank_avatar.png'}}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="hpanel hblue" >
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>People</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-info">184</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="charts.people.data" labels="charts.people.labels" series="charts.people.series" colours="charts.people.colors" options="charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-id fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-6 border-right border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Founders</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-rocket text-primary" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-info">32</h3>
                            </div>
                        </div>
                        <div class="col-md-6 border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Leaders</h6>
                            </div>
                            <div class="stats-icon pull-right" style="margin-right: 3px;">
                                <i class="fa fa-flag text-danger" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-info">9</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 border-right" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Investors</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-leaf text-success" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-info">27</h3>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Advisors</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-graduation-cap text-info" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-info">125</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel hgreen">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>Startups</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success">79</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="charts.startups.data"
                                labels="charts.startups.labels" series="charts.startups.series" colours="charts.startups.colors" options="charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-power fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-6 border-right border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Bootstrap</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <small class="text-muted">1 - 2</small>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-success">37</h3>
                            </div>
                        </div>
                        <div class="col-md-6 border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Validation</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <small class="text-muted">3 - 10</small>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-success">31</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 border-right" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Growth</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <small class="text-muted">11 - 100</small>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-success">18</h3>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Scale</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <small class="text-muted">100+</small>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-success">6</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel hred">
                <div class="panel-body" style="padding: 10px 5px;">
                    <div class="col-xs-2">
                        <div class="stats-title pull-left">
                            <h3>Jobs</h3>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-danger">325</h1>
                        </div>
                    </div>
                    <div class="col-xs-8" >
                        <canvas class="chart chart-line" data="charts.jobs.data"
                                labels="charts.jobs.labels" series="charts.jobs.series" colours="charts.jobs.colors" options="charts.options" height="95" style="padding: 0 15px;">
                        </canvas>
                    </div>
                    <div class="col-xs-2">
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-network fa-4x"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-6 border-right border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Tech</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-code" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">167</h3>
                            </div>
                        </div>
                        <div class="col-md-6 border-bottom">
                            <div class="stats-title pull-left">
                                <h6>Outdoor</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-tree" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">71</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 border-right" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Bio-Science</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-flask" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">82</h3>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 10px;">
                            <div class="stats-title pull-left">
                                <h6>Med-Tech</h6>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-medkit" style="opacity: .5;"></i>
                            </div>
                            <div style="margin-top:23px;">
                                <h3 class="text-danger">63</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>








</div>
