<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb">
                        <li><a ui-sref="dashboard">Dashboard&nbsp;&nbsp;/</a></li>
                        <li ng-repeat="state in $state.$current.path" ng-class="{active: $last}">
                            <a ng-if="!(!!state.abstract) && !$last" href="#{{state.url.format($stateParams)}}">&nbsp;&nbsp;{{state.params.pageTitle.config.value}}&nbsp;&nbsp;/</a>
                            <span ng-if="$last">&nbsp;&nbsp;{{$state.params.pageTitle}}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    {{ $state.params.pageTitle }}
                </h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div ui-view></div>
    </div>

</div>
</div>
</div>