<div class="color-line">
</div>
<div id="logo" class="light-version">
        <span>
            Homer Angular App
        </span>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">HOMER APP</span>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a>
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




