<div class="bright-line">
</div>
<div id="logo" class="light-version">
    <img src="images/sc_logo.png"/>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">StartupCommunity.org</span>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a tooltip-placement="left" tooltip="Sign Out" ng-click="global.logout()">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




