<div id="navigation">
    <div class="profile-picture">
        <a ui-sref="app_views.profile">
            <img ng-src="{{global.user.profile.avatar || global.user.profile.linkedin.pictureUrl || '/public/blank_avatar.png'}}" alt="{{global.user.profile.name}}" class="img-circle m-b">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{global.user.profile.name}}</span>

            <div>
                <h4 class="font-extra-bold m-b-xs">
                    $260,104,200
                </h4>
                <small class="text-muted">Your income from last year.</small>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a>
        </li>
    </ul>
    <div>
        <ul id="sidebar" sticky-scroll="40">


        </ul>
    </div>
</div>