<div id="navigation" ng-controller="NavigationController">
    <div class="navbar-right visible-xs">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown" style="display: inline-block;">
                <a>
                    <i class="pe-7s-help1"></i>
                </a>
            </li>
            <li class="dropdown" style="display: inline-block;">
                <a ng-click="global.logout()">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="profile-picture">
        <div class="container side-menu" style="padding-top: 10px; margin-left: -20px;">
            <div class="row side-menu">
                <div class="col-sm-3">
                    <a ui-sref="people.profile({community: global.user})"><img class="img-circle m-b" ng-src="{{global.user.profile.avatar || global.user.profile.linkedin.pictureUrl || 'images/blank_avatar.png'}}" alt="{{global.user.profile.name}}" style="height: 40px; width: 40px; "/></a>
                </div>
                <div class="col-sm-9" style="padding-top: 3px;">
                    <a ui-sref="people.profile({community: global.user})">{{global.user.profile.name}}</a>
                    <div style="margin-left: -10px; padding-top: 1px;">
                        <span ng-repeat="item in global.user.profile.roles" class="user-role"><i ng-attr-title="{{item}}" ng-class="{'text-primary fa fa-rocket' : item == 'Founder', 'text-info fa fa-graduation-cap' : item == 'Advisor', 'text-success fa fa-leaf' : item == 'Investor', 'text-danger fa fa-flag' : item == 'Leader'}"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXO1cNiJac7iP2I3JoXhOd1pWs6gA-f4k">
            <map id="nav-map" center="{{maploc}}" zoom="11" disable-default-u-i="true">
                <custom-control position="BOTTOM_CENTER" on-click="changeLocation()">
                    <div id="change-location">Change Location</div>
                </custom-control>
            </map>
            <div class="side-menu filler"></div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">

        <li ng-class="{active: $state.includes('location')}" class="active">
            <a href="#"><span class="nav-label">Locations</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('location')}">
                <li ui-sref-active="active" ng-repeat="item in global.community.locations">
                    <a ui-sref="location.dashboard({community: item})"><i class="fa fa-globe"></i>&nbsp;&nbsp;{{item.profile.name}}</a>
                </li>
            </ul>
        </li>

        <li ng-class="{active: $state.includes('industry')}" class="active">
            <a href="#"><span class="nav-label">Clusters</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('industry')}">
                <li ui-sref-active="active" ng-repeat="item in global.community.industries">
                    <a ui-sref="industry.dashboard({community:item})"><i ng-class="'fa ' + item.profile.icon"></i>&nbsp;&nbsp;{{item.profile.name}}</a>
                </li>
            </ul>
        </li>

        <li ng-class="{active: $state.includes('network')}" class="active">
            <a href="#"><span class="nav-label">Networks</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('network')}">
                <li ui-sref-active="active" ng-repeat="item in global.community.networks">
                    <a ui-sref="network.dashboard({community:item})"><i ng-class="'fa ' + item.profile.icon"></i>&nbsp;&nbsp;{{item.profile.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <div>
        <ul id="sidebar" sticky-scroll="40">


        </ul>
    </div>
</div>