<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Settings for {{settings.community.profile.name}}</h4>
        <p class="font-bold">Note: These settings can be modified by other Leaders of this community.</p>
    </div>
    <div class="modal-body">
        <form role="form" name="settings.form" novalidate ng-submit="settings.save()">
            <div class="checkbox checkbox-info">
                <input id="embed" name="embed" type="checkbox" ng-model="settings.formdata.embed_value">
                <label for="embed">Embed this community in another website</label>
            </div>
            <div ng-show="settings.formdata.embed_value">
                <div class="form-group">
                    <label>Use this code to embed this community:</label>
                    <pre>[iframe src="https://startupcommunity.org/<em>your-community-page</em>" width="100%" height="1500"]</pre>
                    <em>We recommend a minimum width of 1000px and minimum height of 1500px for the iframe.</em>
                </div>
                <div class="form-group">
                    <label>Custom background color:</label>
                    <input type="text" placeholder="#F1F3F6" class="form-control input-lg" name="embed_color" ng-model="settings.formdata.embed_color_value">
                </div>
                <div class="form-group">
                    <label>Your website domain:</label>
                    <input type="text" placeholder="yourdomain.com (no http://)" class="form-control input-lg" required name="embed_url" ng-model="settings.formdata.embed_url_value">
                    <div class="m-t-xs" ng-show="settings.form.embed_url.$invalid && settings.form.submitted">
                        <span class="text-danger" ng-show="settings.form.embed_url.$error">&nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i> We need a domain name for security purposes.</span>
                    </div>
                </div>
            </div>
            <div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="settings.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="settings.save()">Save</button>
    </div>
</div>

