<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Change Location</h4>
        <p class="font-bold">Type a city, state, or county name.</p>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>

