<div>
    <!-- Header -->
    <div id="header">
        <div ng-class="{'bright-line' : !nav.embedded, 'grey-line' : nav.embedded}">
        </div>
        <div id="logo" class="light-version">
            <a href="https://startupcommunity.org" target="_blank"><img src="images/sc_logo.png"/></a>
        </div>
        <nav role="navigation">
            <minimaliza-menu ng-if="!nav.embedded"></minimaliza-menu>
            <div class="navbar-left">
                <div class="nav navbar-nav no-borders" style="white-space: nowrap;">
                    <li style="float: left;">
                        <a onclick="$('#searchform').submit()">
                            <i class="pe-7s-search"></i>
                        </a>
                    </li>
                    <form id="searchform" ng-submit="nav.search(search.query)" role="search" class="navbar-form-custom" method="post">
                        <input ng-model="search.query" type="text" placeholder="Search {{nav.searchname}}.." class="form-control" name="search">
                    </form>
                </div>
            </div>
            <div ng-if="!nav.embedded" class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li ng-if="!nav.user" class="dropdown">
                        <div style="padding-top: 21px;" ng-controller="LoginController as login">
                            <a tooltip-placement="left" tooltip="Login">
                                <div ng-click="login.authenticate('linkedin')" style="font-size: 16px;">Log In</div>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a>
                            <i class="pe-7s-help1"></i>
                        </a>
                    </li>
                    <li ng-if="nav.user" class="dropdown">
                        <a tooltip-placement="left" tooltip="Logout" ui-sref="logout" style="padding-right: 30px;">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Navigation -->
    <aside id="menu" ng-if="!nav.embedded">
        <div class="profile-picture">
            <div ng-if="nav.user" class="container side-menu" style="padding-top: 10px; margin-left: -20px; border-bottom: 1px solid #eee;    margin-bottom: -5px;">
                <div class="row side-menu">
                    <div class="col-sm-3">
                        <a ui-sref="people.profile({profile: nav.user, community_key: nav.user.key, community: {}})"><img class="img-circle m-b" ng-src="{{nav.user.profile.avatar || nav.user.profile.linkedin.pictureUrl || 'images/blank_avatar.png'}}" alt="{{nav.user.profile.name}}" style="height: 40px; width: 40px; "/></a>
                    </div>
                    <div class="col-sm-9" style="padding-top: 3px; white-space: nowrap;">
                        <a ui-sref="people.profile({profile: nav.user, community_key: nav.user.key, community: {}})">{{nav.user.profile.name}}</a>
                        <div style="margin-left: -10px; padding-top: 1px;">
                            <span ng-repeat="(item, val) in nav.user.roles" class="user-role"><i ng-attr-title="{{item[0].toUpperCase() + item.slice(1);}}" ng-class="{'text-primary fa fa-rocket' : item == 'founder', 'text-info fa fa-graduation-cap' : item == 'advisor', 'text-success fa fa-leaf' : item == 'investor', 'text-danger fa fa-flag' : item == 'leader'}"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="nav.community.profile.logo" style="margin-left: -19px;"><img style="width:176px;" ng-src="{{nav.community.profile.logo}}"/></div>
            <gm-map ng-if="!nav.community.profile.logo" ng-init="nav.hideChange = true" id="nav-map" gm-address="{address:nav.location}" options="{zoom: 4, disableDefaultUI: true, draggable: false, disableDoubleClickZoom: true, scrollwheel: false}" on-mouseover="nav.setMap(map.getCenter())" on-mouseclick="nav.setMap(map.getCenter())" on-mouseout="nav.hideChange = true; map.panTo(nav.latlng);">
                <gm-marker position="map.getCenter()" options="{icon: '/public/Green-map-pin.png'}"></gm-marker>
                <gm-infowindow ng-if="!nav.hideChange" options="{content: '<div id=&#34;changeLocation&#34; style=&#34;font-size: 12px;
    padding-right: 10px;&#34;><a>Change Location</a></div>', position: nav.latlng}"></gm-infowindow>
            </gm-map>
            <div ng-if="!nav.community.profile.logo" class="side-menu filler"></div>
        </div>

        <ul side-navigation class="nav" id="side-menu" style="border-top: 1px solid #eee;">

            <li class="active" ng-if="1==1">
                <p style="cursor: default;"><span class="pe-7s-angle-down" style="padding-top: 4px;
    padding-right: 7px;"></span><span class="nav-label">Community</span></p>
                <ul class="nav nav-second-level">
                    <li>
                        <a style="cursor: default;" ng-class="{active: nav.path.includes('/' + nav.community.key)}">
                            <span class="fa fa-gear pull-right" ng-click="nav.changeLocation()" tooltip="Change" style="opacity: .6; margin-top: 3px; cursor: pointer;"></span>
                            <span ng-if="nav.community.community_profiles[nav.location]">
                                <i ng-if="nav.community.community_profiles[nav.location].icon" ng-class="'fa ' + nav.community.community_profiles[nav.location].icon"></i>
                                <i ng-if="!nav.community.community_profiles[nav.location].icon" class="fa fa-globe"></i>
                                &nbsp;&nbsp;{{nav.community.community_profiles[nav.location].name}}</span>
                            <span ng-if="!nav.community.community_profiles[nav.location]">
                                <i ng-if="nav.community.profile.icon" ng-class="'fa ' + nav.community.profile.icon"></i>
                                <i ng-if="!nav.community.profile.icon" class="fa fa-globe"></i>
                                    &nbsp;&nbsp;{{nav.community.profile.name}}</span>
                            </a>
                        <ul style="display: block;">
                            <li ui-sref="people.dashboard({community_key: nav.community.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;People</a>
                            </li>
                            <li ui-sref="startups.dashboard({community_key: nav.community.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Startups</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="active" ng-if="nav.locations">
                <p style="cursor: default;"><span class="pe-7s-angle-down" style="padding-top: 4px;
    padding-right: 7px;"></span><span class="nav-label">Locations</span></p>
                <ul class="nav nav-second-level">
                    <li ng-repeat="item in nav.locations" ng-if="item.key !== nav.community.key">
                        <a ui-sref="location.dashboard({community_key: item.key, community: item})" ng-class="{active: nav.path.includes('/' + item.key)}"><i class="fa fa-globe"></i>&nbsp;&nbsp;{{item.profile.name}}</a>
                        <ul ng-if="nav.community.key == item.key">
                            <li ui-sref="people.dashboard({community_key: item.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;People</a>
                            </li>
                            <li ui-sref="startups.dashboard({community_key: item.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Startups</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="active" ng-if="nav.industries">
                <p style="cursor: default;"><span class="pe-7s-angle-down" style="padding-top: 4px;
    padding-right: 7px;"></span><span class="nav-label">Industries</span></p>
                <ul class="nav nav-second-level">
                    <li ng-repeat="item in nav.industries">
                        <a ui-sref="industry.dashboard({community_key: nav.location, industry_key: item.key, community: item})" ng-class="{active: nav.path.endsWith('/' + item.key)}">
                            <span ng-if="item.community_profiles[nav.location]">
                                <i ng-class="'fa ' + item.community_profiles[nav.location].icon"></i>&nbsp;&nbsp;{{item.community_profiles[nav.location].name}}</span>
                            <span ng-if="!item.community_profiles[nav.location]">
                                <i ng-class="'fa ' + item.profile.icon"></i>&nbsp;&nbsp;{{item.profile.name}}</span>
                        </a>
                        <ul ng-if="nav.community.key == item.key">
                            <li ui-sref="industry.people({industry_key: item.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;People</a>
                            </li>
                            <li ui-sref="industry.startups" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Startups</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="active" ng-if="nav.networks">
                <p style="cursor: default;"><span class="pe-7s-angle-down" style="padding-top: 4px;
    padding-right: 7px;"></span><span class="nav-label">Networks</span></p>
                <ul class="nav nav-second-level">
                    <li ng-repeat="item in nav.networks">
                        <a ui-sref="network.dashboard({community_key: item.key, community: item})" ng-class="{active: nav.path.includes('/' + item.key)}"><i ng-class="'fa ' + item.profile.icon"></i>&nbsp;&nbsp;{{item.profile.name}}</a>
                        <ul ng-if="nav.community.key == item.key">
                            <li ui-sref="people.dashboard({community_key: item.key, query: '*'})" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;People</a>
                            </li>
                            <!--
                            <li ng-if="nav.path.endsWith('/people')" class="nav-third-level" ui-sref="people.invite">
                                <a>+&nbsp;&nbsp;Invite People</a>
                            </li>
                            -->
                            <li ui-sref="network.startups" ui-sref-active="active">
                                <a><i class="fa fa-caret-right"></i>&nbsp;&nbsp;Startups</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div>
            <ul id="sidebar" sticky-scroll="40">


            </ul>
        </div>
    </aside>
</div>

<!-- Main Content -->
<div ui-view>
    <div ng-class="{'wrapper' : !nav.embedded}">
        <div ng-class="{'embed_header' : nav.embedded}" ui-view="header"></div>
        <div ng-class="{'content' : !nav.embedded}">
            <div ui-view="content"></div>
        </div>
    </div>
</div>